<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Generar Corte</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="goToList()">
        <span class="material-icons v-align-center">arrow_back</span>Regresar
      </button>
  </div>

  <div class="normal-header-padding">
    <div class="col s12 m12 l12 m-t-1em absolute-v-center">
    <div class="col s3 m3 l3 no-margin">
      <label for="cut"></label>
      <select ng-model="selectedCut"
              class="browser-default bold"
              name="cut"
              material-select>
        <option value="2" selected>Corte De Turno</option>
        <option value="">Corte Z</option>
        <option value="1">Corte X</option>
      </select>
    </div>
    <div class="col s5 m5 l5 no-margin">
      <button class="btn waves-effect"
              ng-click="generateSalesCut()">Generar</button>
    </div>
  </div>
    <div ng-show="selectedCut === '1'"
         class="col s12 m12 l12">
      <div class="col s5 m4 l2 no-margin">
        <label for="initialDate">Fecha inicial</label>
        <input input-date
               type="text"
               name="created"
               id="initialDate"
               ng-model="initialDate"
               container=""
               format="dd/mm/yyyy"
               months-full="{{ month }}"
               months-short="{{ monthShort }}"
               weekdays-full="{{ weekdaysFull }}"
               weekdays-short="{{ weekdaysShort }}"
               weekdays-letter="{{ weekdaysLetter }}"
               disable="disable"
               min="{{ minDate }}"
               max="{{ maxDate }}"
               today="today"
               first-day="1"
               clear="clear"
               close="close"
               select-years="15"
               on-set="onSet()"
               on-render="onRender()" />
      </div>
      <div class="col s5 m4 l2">
        <label for="finalDate">Fecha final</label>
        <input input-date
               type="text"
               name="created"
               id="finalDate"
               ng-model="finalDate"
               container=""
               format="dd/mm/yyyy"
               months-full="{{ month }}"
               months-short="{{ monthShort }}"
               weekdays-full="{{ weekdaysFull }}"
               weekdays-short="{{ weekdaysShort }}"
               weekdays-letter="{{ weekdaysLetter }}"
               disable="disable"
               min="{{ minDate }}"
               max="{{ maxDate }}"
               today="today"
               first-day="1"
               clear="clear"
               close="close"
               select-years="15"
               on-set="onSet()" />
      </div>
    </div>
    <div ng-show="selectedCut === '1'"
         class="col s12 m12 l12">
      <div class="col s5 m4 l2">
        <label for="input_starttime">Hora de inicio</label>
        <input id="input_starttime"
        input-clock
        data-twelvehour="false"
        type="text"
        ng-model="initialHour">{{horain}}
      </div>
      <div class="col s5 m4 l2">
        <label for="input_endtime">Hora final</label>
        <input id="input_endtime"
        input-clock
        data-twelvehour="false"
        type="text"
        ng-model="finalHour">{{horaout}}
      </div>
    </div>
    <div ng-show="cutDetails">
      <div class="col s12 m12 l12 center">
        <p class="new-cut-header">{{title}}</p>
        <hr>
      </div>
      <div class="col s12 m12 l10 offset-l1 m-t-1em">
        <h5 class="center bold">Productos Vendidos</h5>
        <dir-pagination-controls pagination-id="'pricipal-products'">
        </dir-pagination-controls>
        <table class="bordered default-form-container">
          <tr class="col s12 m12 l12">
            <th class="col s4 m4 l4">Producto</th>
            <th class="center col s4 m4 l4">Total vendido</th>
            <th class="right-align col s4 m4 l4">Ingreso</th>
          </tr>
          <tr dir-paginate="product in cutDetails.details.products | itemsPerPage: 10" pagination-id="'pricipal-products'">
            <td class="font-17 col s4 m4 l4">{{product.productName}}</td>
            <td class="font-17 col s4 m4 l4 center">{{product.quantity}}</td>
            <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.quantity * product.price || 0 | currency}}</td>
          </tr>

        </table>
      </div>

      <div class="col s12 m12 l10 offset-l1 m-t-1em">
        <h5 class="center bold">Productos Comprados</h5>
        <dir-pagination-controls pagination-id="'bought-supplies'">
        </dir-pagination-controls>
        <table class="bordered default-form-container">
          <tr class="col s12 m12 l12">
            <th class="col s4 m4 l4">Producto</th>
            <th class="center col s4 m4 l4">Total Comprado</th>
            <th class="right-align col s4 m4 l4">Egreso</th>
          </tr>
          <tr dir-paginate="product in cutDetails.details.boughtSupplies | itemsPerPage: 10" pagination-id="'bought-supplies'"
              class="col s12 m12 l12">
            <td class="font-17 col s4 m4 l4">{{product.name}}</td>
            <td class="font-17 col s4 m4 l4 center">{{product.quantity}} {{product.description}}</td>
            <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.total || 0 | currency}}</td>
          </tr>

        </table>
      </div>

      <div class="col s12 m12 l10 offset-l1 m-t-1em">
        <h5 class="center bold">Nóminas Pagadas</h5>
        <dir-pagination-controls pagination-id="'bought-supplies'">
        </dir-pagination-controls>
        <table class="bordered default-form-container">
          <tr class="col s12 m12 l12">
            <th class="col s4 m4 l4">Persona</th>
            <th class="col s4 m4 l4 center">Faltas</th>
            <th class="col s4 m4 l4 right-align">Total Pagado</th>
          </tr>
          <tr dir-paginate="roster in cutDetails.details.roster | itemsPerPage: 10  track by $index"
              pagination-id="'bought-supplies'"
              class="col s12 m12 l12">
            <td class="font-17 col s4 m4 l4">{{roster.username}}</td>
            <td class="center bold font-17 col s4 m4 l4">{{roster.absenceDays || 0}}</td>
            <td class="font-17 right-align green-text bold col s4 m4 l4">{{roster.total | currency}}</td>
          </tr>

        </table>
      </div>

      <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l1">
        <div id="cut-info" class="bordered default-form-container m-t-3em col s12 m12 l12 padding-none">
            <div class="col s12 m12 l12 normal-border">
              <span class="font-17">Fondo Total</span>
              <span class="right bold font-17 green-text"
                    style="float: right">+ {{fondoTotal || 0 | currency}}</span>
            </div>
            <div class="col s12 m12 l12 normal-border">
              <span class="font-17">Ventas Totales</span>
              <span class="right bold font-17 green-text"
                    style="float: right">+ {{cutDetails.details.entries || 0 | currency}}</span>
            </div>
          <div class="col s12 m12 l12 normal-border">
            <span class="font-17">Compras Totales</span>
            <span class="right bold font-17 red-text"
                  style="float: right">- {{cutDetails.details.outs || 0 | currency}}</span>
          </div>
          <div class="col s12 m12 l12 normal-border">
            <span class="font-17">Nominas Totales</span>
            <span class="right bold font-17 red-text"
                  style="float: right">- {{cutDetails.details.rosters || 0 | currency}}</span>
          </div>
          <!-- <tr>
            <td class="font-17">Dinero Total</td>
            <td class="right bold font-17">
              {{fondoTotal + cutDetails.details.entries - cutDetails.details.outs || 0 | currency}}
            </td>
          </tr> -->
        </div>
        <div id="products" class="error-text">
          <div ng-repeat="product in cutDetails.details.products" class="row"
               style="width:100%">
            <span class="font-17"
               style="width:33.3333333%;">{{product.productName}}</span>
            <span class="font-17"
               style="width:33.3333333%; text-align:center;">{{product.quantity}}</span>
            <span class="font-17"
               style="width:33.3333333%; text-align:right;">{{product.quantity * product.price || 0 | currency}}</span>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l10 offset-l1 overflow-scroll m-t-1em">
        <h5 class="center bold">Listado de Fondos</h5>
        <dir-pagination-controls pagination-id="'fondos'">
        </dir-pagination-controls>
        <table class="bordered default-form-container">
          <tr>
            <th >Fecha y Hora</th>
            <th class="right">Cantidad</th>
          </tr>
          <tr dir-paginate="fondo in cutDetails.details.fondos | itemsPerPage: 5" pagination-id="'fondos'">
          <td class="font-17">{{fondo.date | date: 'dd-MM-yyyy hh:mm:a'}}</td>
          <td class="right green-text bold font-17">{{fondo.quantity || 0 | currency}}</td>
        </tr>
      </table>
    </div>

      <div class="col s12 m12 l10 offset-l1 m-t-1em">
        <hr>
        <h5 class="center bold">Detalles por Usuario</h5>
      </div>
      <div class="col s12 m12 l10 offset-l1 m-t-3em"
          ng-repeat="user in cutDetails.byUsers">
          <hr>
          <dir-pagination-controls pagination-id="'products_'+$index">
          </dir-pagination-controls>
          <h5 class="col s12 m12 l10 offset-l1">{{user.name}}</h5>
          <div class="col s12 m12 l10 offset-l1 m-t-1em">
            <table class="bordered default-form-container">
              <tr>
                <th class="col s4 m4 l4">Producto</th>
                <th class="center col s4 m4 l4">Total vendido</th>
                <th class="right-align col s4 m4 l4">Ingreso</th>
              </tr>
              <tr dir-paginate="product in user.products | itemsPerPage: 5" pagination-id="'products_'+$index">
                <td class="font-17 col s4 m4 l4">{{product.productName}}</td>
                <td class="font-17 col s4 m4 l4 center">{{product.quantity}}</td>
                <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.quantity * product.price || 0 | currency}}</td>
              </tr>
            </table>
          </div>

          <div class="col s12 m12 l10 offset-l1 m-t-1em">
            <h5 class="center bold">Productos Comprados</h5>
            <dir-pagination-controls pagination-id="'boughts_'+$index">
            </dir-pagination-controls>
            <table class="bordered default-form-container">
              <tr>
                <th class="col s4 m4 l4">Producto</th>
                <th class="col s4 m4 l4 center" >Total Comprado</th>
                <th class="col s4 m4 l4 right-align">Egreso</th>
              </tr>
              <tr dir-paginate="product in user.boughtSupplies | itemsPerPage: 5" pagination-id="'boughts_'+$index">
                <td class="font-17 col s4 m4 l4">{{product.name}}</td>
                <td class="font-17 col s4 m4 l4 center">{{product.quantity}} {{product.description}}</td>
                <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.total || 0 | currency}}</td>
              </tr>

            </table>
          </div>

          <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l1">
            <table class="bordered default-form-container m-t-3em">
              <tr>
                <td class="font-17">Ventas Totales</td>
                <td class="right bold font-17 green-text">+ {{user.entries || 0 | currency}}</td>
              </tr>
              <tr>
                <td class="font-17">Compras Totales</td>
                <td class="right bold font-17 red-text">- {{user.outs || 0 | currency}}</td>
              </tr>
              <!-- <tr>
                <td class="font-17">Dinero Total</td>
                <td class="right bold font-17">
                    <span ng-show="user.entries - user.Outputs < 0"> - </span>
                  {{user.entries - user.outs || 0 | currency}}
                </td>
              </tr> -->
            </table>
          </div>

          <div class="col s12 m12 l10 offset-l1 overflow-scroll m-t-1em">
            <h5 class="center bold">Folios de Venta</h5>
            <dir-pagination-controls
            pagination-id="'product_'+$index">
            </dir-pagination-controls>
            <table class="bordered default-form-container">
              <tr>
                <th class="col s3 m3 l3">Folio</th>
                <th class="col s3 m3 l3">Tickets</th>
                <th class="col s3 m3 l3 center">Hora Venta</th>
                <th class="right-align col s3 m3 l3">Total</th>
              </tr>
              <tr dir-paginate="product in user.folios | itemsPerPage: 5"
                  pagination-id="'product_'+$index">
                <td class="font-17 col s3 m3 l3">
                  <span class="blue-text pointer"
                        ng-click="getProductFolio(product._id)">
                    {{product.folio}}
                  </span>
                </td>
                <td class="font-17 col s3 m3 l3">
                  <span class="blue-text pointer"
                       ng-click="getTickets(product.folio)">
                    {{product.totalTickets}}
                  </span>
                </td>
                <td class="font-17 center col s3 m3 l3">{{product.date | date: 'hh:mm:a'}}</td>
                <td class="right-align green-text bold font-17 col s3 m3 l3">{{product.total || 0 | currency}}</td>
              </tr>

            </table>
          </div>

          <div class="col s12 m12 l10 offset-l1 overflow-scroll m-t-1em">
            <h5 class="center bold">Folios de Compra</h5>
            <dir-pagination-controls
            pagination-id="'supplies'+$index">
            </dir-pagination-controls>
            <table class="bordered default-form-container">
              <tr>
                <th class="col s4 m4 l4">Folio</th>
                <th class="col s4 m4 l4 center" >Hora de Compra</th>
                <th class="right-align col s4 m4 l4">Total</th>
              </tr>
              <tr dir-paginate="product in user.suppliesIds | itemsPerPage: 5"
                  pagination-id="'supplies'+$index">
                <td class="font-17 col s4 m4 l4">
                  <span class="blue-text pointer"
                        ng-click="getSupplieFolio(product.id)">
                    {{product.id}}
                  </span>
                </td>
                <td class="font-17 center col s4 m4 l4">{{product.date | date: 'hh:mm:a'}}</td>
                <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.total || 0 | currency}}</td>
              </tr>

            </table>
          </div>
      </div>
    </div>
  </div>
</div>

<div id="supply-detail-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Detalle de compra</h5>
    <table class="bordered">
      <tr>
        <th>Nombre</th>
        <th>Presentación</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      <tr ng-repeat="product in supplies.products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td class="green-text bold">{{product.price || 0 | currency}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>

<div id="folio-detail-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Detalle de compra</h5>
    <table class="bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>SubTotal</th>
        </tr>
      </thead>
      <tbody ng-repeat="detail in folios.details">
        <tr ng-repeat="product in detail.products">
          <td>{{product.productName}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price | currency}}</td>
          <td class="green-text bold">{{product.subTotal || 0 | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>

<div id="ticket-list-modal" class="modal row modal-fixed-footer">
  <div class="modal-content">
    <div class=""
         ng-repeat="ticket in tickets">
     <hr>
     <div class="col s12 m12 l12 bold">
       Folio: #{{ticket.folio}}
     </div>
     <div class="col s4 m4 l4 bold">
       Usuario
     </div>
     <div class="col s4 m4 l4 bold">
       Mesa
     </div>
     <div class="col s4 m4 l4 bold right-align">
       Tiempo total
     </div>
     <div class="row">
       <div class="col s4 m4 l4">
         {{ticket.userName}}
       </div>
       <div class="col s4 m4 l4">
         <span ng-show="ticket.table !== 9998">{{ticket.table}}</span>
         <span ng-show="ticket.table === 9998">Consumo interno</span>
       </div>
       <div class="col s4 m4 l4 right-align">
         {{ticket.totalTime}} minutos
       </div>
      </div>
      <hr>
      <div class="col s5 m5 l5 bold">
        Producto
      </div>
      <div class="col s3 m3 l3 bold">
        Cantidad
      </div>
      <div class="col s2 m2 l2 bold">
        Precio
      </div>
      <div class="col s2 m2 l2 bold">
        Total
      </div>
      <div class="col s12 m12 l12" ng-repeat="product in ticket.products">
        <div class="row">
          <div class="col s5 m5 l5">
            {{product.productName}}
          </div>
          <div class="col s3 m3 l3">
            {{product.quantity}}
          </div>
          <div class="col s2 m2 l2">
            {{product.price | currency}}
          </div>
          <div class="col s2 m2 l2">
            {{product.quantity * product.price | currency}}
          </div>
        </div>
      </div>
      <div class="m-t-1em m-b-1em">
        <div class="col s12 m12 l12 right-align">
          total: <span class="bold green-text">{{ticket.total | currency}}</span>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>
