<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Caja grande</span>
    <button class="btn waves-effect red right margin-0-5em hide-on-small-only"
    ng-click="retrieveMoney()">
    <span class="material-icons v-align-center">remove_circle</span> Registrar salida
  </button>
    <button class="btn waves-effect green right margin-0-5em hide-on-small-only"
            ng-click="addMoney()">
      <span class="material-icons v-align-center">add_box</span> Registrar entrada
    </button>
  </div>
  <div class="col s12 m12 l12 normal-header-padding">
    <div class="col s12 hide-on-med-and-up m-b-1em">
      <button class="btn waves-effect red right margin-0-5em col s12"
      ng-click="retrieveMoney()">
      <span class="material-icons v-align-center">remove_circle</span> Registrar salida
    </button>
      <button class="btn waves-effect green right margin-0-5em col s12"
              ng-click="addMoney()">
        <span class="material-icons v-align-center">add_box</span> Registrar entrada
      </button>
    </div>
    <div class="m-t-3em">
      <h5>Disponible:
        <span class="bold"
              ng-class="paydesk.fundAvailable > 0 ? 'green-text' : 'red-text'">{{paydesk.fundAvailable || 0 | currency}}</span></h5>
      <hr>
      <div class="col s12 m12 l12 m-t-3em">
        <dir-pagination-controls pagination-id="'charges'">
        </dir-pagination-controls>

        <table class="bordered default-form-container">
          <tr>
            <th class="col s4 m4 l4">Detalle Ingreso</th>
            <th class="col s4 m4 l4 center">Cantidad</th>
            <th class="col s4 m4 l4 right-align">Fecha</th>
          </tr>
          <tr dir-paginate="charge in charge | itemsPerPage: 5"
              pagination-id="'charges'">
            <td class="col s4 m4 l4 bold">{{charge.description}}</td>
            <td class="col s4 m4 l4 bold center green-text">{{charge.quantity | currency}}</td>
            <td class="col s4 m4 l4 bold right-align">{{charge.date | date: 'dd-MM-yyyy' }}</td>
          </tr>
        </table>
      </div>

      <div class="col s12 m12 l12 m-t-3em">
        <dir-pagination-controls pagination-id="'discharges'">
        </dir-pagination-controls>

        <table class="bordered default-form-container">
          <tr>
            <th class="col s4 m4 l4">Detalle Egreso</th>
            <th class="col s4 m4 l4 center">Cantidad</th>
            <th class="col s4 m4 l4 right-align">Fecha</th>
          </tr>
          <tr dir-paginate="discharge in discharge | itemsPerPage: 5"
              pagination-id="'discharges'">
            <td class="col s4 m4 l4 bold">{{discharge.description}}</td>
            <td class="col s4 m4 l4 bold center red-text">{{discharge.quantity | currency}}</td>
            <td class="col s4 m4 l4 bold right-align">{{discharge.date | date: 'dd-MM-yyyy' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="add-money-modal" class="modal modal-fixed-footer row">
  <div class="modal-content">
    <h5>Registro de Entrada</h5>
    <hr>
    <div class="col s12 m12 l12">
      Total:
      <span class="bold"
            ng-class="paydesk.fundAvailable > 0 ? 'green-text' : 'red-text'">{{paydesk.fundAvailable || 0 | currency}}</span>
    </div>
    <div class="m-t-1em">
      <div class="col s12 m4 l4">
        <label for="moneyToAdd">Agregar entrada: </label>
        <input numbers-only
               string="moneyToAdd"
               max-number="9999999999"
               type="text"
               name="moneyToAdd"
               ng-model="moneyToAdd"
               required>

        Nuevo Total:
        <span class="bold"
              ng-class="paydesk.fundAvailable + moneyToAdd > 0 ? 'green-text' : 'red-text'">
              {{paydesk.fundAvailable + moneyToAdd || 0 | currency}}
        </span>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect green m-l-1em"
            ng-click="addMoneyApply()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="retrieve-money-modal" class="modal modal-fixed-footer row">
  <div class="modal-content">
    <h5>Registro de Salida</h5>
    <hr>
    <div class="col s12 m12 l12">
      Total:
      <span class="bold"
            ng-class="paydesk.fundAvailable > 0 ? 'green-text' : 'red-text'">{{paydesk.fundAvailable || 0 | currency}}</span>
    </div>
    <div class="m-t-1em">
      <div class="col s12 m4 l4">
        <label for="moneyToAdd">Agregar salida: </label>
        <input numbers-only
               string="retrieve"
               max-number="9999999999"
               type="text"
               name="retrieve"
               ng-model="retrieve"
               required>

        Nuevo Total:
        <span class="bold"
              ng-class="paydesk.fundAvailable + retrieve > 0 ? 'green-text' : 'red-text'">
              {{paydesk.fundAvailable - retrieve || 0 | currency}}
        </span>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect green m-l-1em"
            ng-click="retrieveMoneyApply()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
