<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Corte {{title}}</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="goToList()">
        <span class="material-icons v-align-center">arrow_back</span>Regresar
      </button>
  </div>
  <div ng-show="cutDetails" class="normal-header-padding">
    <div class="col s12 m12 l10 offset-l1 m-t-1em">
      <h5 class="center bold">Productos Vendidos</h5>
      <dir-pagination-controls pagination-id="'pricipal-products'">
      </dir-pagination-controls>
      <table class="bordered default-form-container">
        <tr class="col s12 m12 l12">
          <th class="col s4 m4 l4">Producto</th>
          <th class="center col s4 m4 l4">Total vendido</th>
          <th class="right-align col s4 m4 l4">Ingreso</th>
        </tr>
        <tr dir-paginate="product in cutDetails.details.products | itemsPerPage: 10" pagination-id="'pricipal-products'">
          <td class="font-17 col s4 m4 l4">{{product.productName}}</td>
          <td class="font-17 col s4 m4 l4 center">{{product.quantity}}</td>
          <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.quantity * product.price || 0 | currency}}</td>
        </tr>
      </table>
    </div>

    <div class="col s12 m12 l10 offset-l1 m-t-1em">
      <h5 class="center bold">Productos Comprados</h5>
      <dir-pagination-controls pagination-id="'bought-supplies'">
      </dir-pagination-controls>
      <table class="bordered default-form-container">
        <tr class="col s12 m12 l12">
          <th class="col s4 m4 l4">Producto</th>
          <th class="center col s4 m4 l4">Total Comprado</th>
          <th class="right-align col s4 m4 l4">Egreso</th>
        </tr>
        <tr dir-paginate="product in cutDetails.details.boughts | itemsPerPage: 10" pagination-id="'bought-supplies'"
            class="col s12 m12 l12">
          <td class="font-17 col s4 m4 l4">{{product.name}}</td>
          <td class="font-17 col s4 m4 l4 center">{{product.quantity}} {{product.description}}</td>
          <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.total || 0 | currency}}</td>
        </tr>
      </table>
    </div>

    <div class="col s12 m12 l10 offset-l1 m-t-1em">
      <h5 class="center bold">Nóminas Pagadas</h5>
      <dir-pagination-controls pagination-id="'bought-supplies'">
      </dir-pagination-controls>
      <table class="bordered default-form-container">
        <tr class="col s12 m12 l12">
          <th class="col s4 m4 l4">Persona</th>
          <th class="col s4 m4 l4 center">Faltas</th>
          <th class="col s4 m4 l4 right-align">Total Pagado</th>
        </tr>
        <tr dir-paginate="roster in cutDetails.details.rosters | itemsPerPage: 10 track by $index"
            pagination-id="'bought-supplies'"
            class="col s12 m12 l12">
          <td class="font-17 col s4 m4 l4">{{roster.username}}</td>
          <td class="center bold font-17 col s4 m4 l4">{{roster.absenceDays || 0}}</td>
          <td class="font-17 right-align green-text bold col s4 m4 l4">{{roster.total | currency}}</td>
        </tr>

      </table>
    </div>

    <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l1">
      <table class="bordered default-form-container m-t-3em">
        <tr>
          <td class="font-17">Fondo Total</td>
          <td class="right bold font-17 green-text">+ {{fondoTotal || 0 | currency}}</td>
        </tr>
        <tr>
          <td class="font-17">Ventas Totales</td>
          <td class="right bold font-17 green-text">+ {{cutDetails.details.entries || 0 | currency}}</td>
        </tr>
        <tr>
          <td class="font-17">Compras Totales</td>
          <td class="right bold font-17 red-text">- {{cutDetails.details.Outputs || 0 | currency}}</td>
        </tr>
        <tr>
          <td class="font-17">Nominas Totales</td>
          <td class="right bold font-17 red-text">- {{cutDetails.details.totalRoster || 0 | currency}}</td>
        </tr>
        <!-- <tr>
          <td class="font-17">Dinero Total</td>
          <td class="right bold font-17">
            <span ng-show="cutDetails.details.entries - cutDetails.details.Outputs < 0"> - </span>
            {{fondoTotal + cutDetails.details.entries - cutDetails.details.Outputs || 0 | currency}}
          </td>
        </tr> -->
      </table>
    </div>

    <div class="col s12 m12 l10 offset-l1 overflow-scroll m-t-1em">
      <h5 class="center bold">Listado de Fondos</h5>
      <dir-pagination-controls pagination-id="'fondos'">
      </dir-pagination-controls>
      <table class="bordered default-form-container">
        <tr>
          <th >Fecha y Hora</th>
          <th class="right">Cantidad</th>
        </tr>
        <tr dir-paginate="fondo in cutDetails.details.fondo | itemsPerPage: 5" pagination-id="'fondos'">
          <td class="font-17">{{fondo.date | date: 'dd-MM-yyyy hh:mm:a'}}</td>
          <td class="right green-text bold font-17">{{fondo.quantity || 0 | currency}}</td>
        </tr>
      </table>
    </div>

    <div class="col s12 m12 l10 offset-l1 m-t-3em">
      <hr>
      <h5 class="center bold">Detalles por Usuario</h5>
    </div>
    <div class="col s12 m12 l10 offset-l1 m-t-1em"
        ng-repeat="user in cutDetails.byUsers">
        <hr>
        <dir-pagination-controls pagination-id="'products_'+$index">
        </dir-pagination-controls>
        <h5 class="col s12 m12 l10 offset-l1">{{user.userName}}</h5>
        <div class="col s12 m12 l10 offset-l1 m-t-1em">

          <table class="bordered default-form-container">
            <tr>
              <th class="col s4 m4 l4">Producto</th>
              <th class="center col s4 m4 l4">Total vendido</th>
              <th class="right-align col s4 m4 l4">Ingreso</th>
            </tr>
            <tr dir-paginate="product in user.products | itemsPerPage: 5" pagination-id="'products_'+$index">
              <td class="font-17 col s4 m4 l4">{{product.productName}}</td>
              <td class="font-17 col s4 m4 l4 center">{{product.quantity}}</td>
              <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.quantity * product.price || 0 | currency}}</td>
            </tr>
          </table>
        </div>

        <div class="col s12 m12 l10 offset-l1 m-t-1em">
          <h5 class="center bold">Productos Comprados</h5>
          <dir-pagination-controls pagination-id="'boughts_'+$index">
          </dir-pagination-controls>
          <table class="bordered default-form-container">
            <tr>
              <th class="col s4 m4 l4">Producto</th>
              <th class="center col s4 m4 l4" >Total Comprado</th>
              <th class="right-align col s4 m4 l4">Egreso</th>
            </tr>
            <tr dir-paginate="product in user.boughts | itemsPerPage: 5" pagination-id="'boughts_'+$index">
              <td class="font-17 col s4 m4 l4">{{product.name}}</td>
              <td class="font-17 col s4 m4 l4 center">{{product.quantity}} {{product.description}}</td>
              <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.total || 0 | currency}}</td>
            </tr>

          </table>
        </div>

        <div class="col s10 offset-s1 m10 offset-m1 l6 offset-l1">
          <table class="bordered default-form-container m-t-3em">
            <tr>
              <td class="font-17">Ventas Totales</td>
              <td class="right bold font-17 green-text">+ {{user.entries || 0 | currency}}</td>
            </tr>
            <tr>
              <td class="font-17">Compras Totales</td>
              <td class="right bold font-17 red-text">- {{user.Outputs || 0 | currency}}</td>
            </tr>
            <tr>
              <td class="font-17">Dinero Total</td>
              <td class="right bold font-17">
                <span ng-show="user.entries - user.Outputs < 0"> - </span>
                {{user.entries - user.Outputs || 0 | currency}}
              </td>
            </tr>
          </table>
        </div>

        <div class="col s12 m12 l10 offset-l1 overflow-scroll m-t-1em">
          <h5 class="center bold">Folios de Venta</h5>
          <dir-pagination-controls
          pagination-id="'product_'+$index">
          </dir-pagination-controls>
          <table class="bordered default-form-container">
            <tr>
              <th class="col s3 m3 l3">Folio</th>
              <th class="col s3 m3 l3">Tickets</th>
              <th class="col s3 m3 l3 center">Hora Venta</th>
              <th class="right-align col s3 m3 l3">Total</th>
            </tr>
            <tr dir-paginate="product in user.folios | itemsPerPage: 5"
                pagination-id="'product_'+$index">
              <td class="font-17 col s3 m3 l3">
                <span class="blue-text pointer"
                      ng-click="getProductFolio(product.id)">
                  {{product.folio || 0}}
                </span>
              </td>
              <td class="font-17 col s3 m3 l3">
                <span class="blue-text pointer"
                     ng-click="getTickets(product.folio)">
                  {{product.totalTickets}}
                </span>
              </td>
              <td class="font-17 col s3 m3 l3 center">{{product.date | date: 'hh:mm:a'}}</td>
              <td class="right-align green-text bold font-17 col s3 m3 l3">{{product.total || 0 | currency}}</td>
            </tr>

          </table>
        </div>

        <div class="col s12 m12 l10 offset-l1 overflow-scroll m-t-1em">
          <h5 class="center bold">Folios de Compra</h5>
          <dir-pagination-controls
          pagination-id="'supplies'+$index">
          </dir-pagination-controls>
          <table class="bordered default-form-container">
            <tr>
              <th class="col s4 m4 l4" >Folio</th>
              <th class="col s4 m4 l4 center">Hora de Compra</th>
              <th class="right-align col s4 m4 l4">Total</th>
            </tr>
            <tr dir-paginate="product in user.supplies | itemsPerPage: 5"
                pagination-id="'supplies'+$index">
              <td class="font-17 col s4 m4 l4">
                <span class="blue-text pointer"
                      ng-click="getSupplieFolio(product.id)">{{product.id}}</span></td>
              <td class="font-17 center col s4 m4 l4">{{product.date | date: 'hh:mm:a'}}</td>
              <td class="right-align green-text bold font-17 col s4 m4 l4">{{product.total || 0 | currency}}</td>
            </tr>

          </table>
        </div>
    </div>
  </div>
</div>


<div id="supply-detail-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Detalle de compra</h5>
    <table class="bordered">
      <tr>
        <th>Nombre</th>
        <th>Presentación</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      <tr ng-repeat="product in supplies.products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td class="green-text bold">{{product.price || 0 | currency}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>

<div id="folio-detail-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Detalle de compra</h5>
    <table class="bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>SubTotal</th>
        </tr>
      </thead>
      <tbody ng-repeat="detail in folios.details">
        <tr ng-repeat="product in detail.products">
          <td>{{product.productName}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.price | currency}}</td>
          <td class="green-text bold">{{product.subTotal || 0 | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>

<div id="ticket-list-modal" class="modal row modal-fixed-footer">
  <div class="modal-content">
    <div class=""
         ng-repeat="ticket in tickets">
         <hr>
         <div class="col s12 m12 l12 bold">
           Folio: #{{ticket.folio}}
         </div>
         <div class="col s4 m4 l4 bold">
           Usuario
         </div>
         <div class="col s4 m4 l4 bold">
           Mesa
         </div>
         <div class="col s4 m4 l4 bold right-align">
           Tiempo total
         </div>
      <div class="row">
        <div class="col s4 m4 l4">
          {{ticket.userName}}
        </div>
        <div class="col s4 m4 l4">
          {{ticket.table}}
        </div>
        <div class="col s4 m4 l4 right-align">
          {{ticket.totalTime}} minutos
        </div>
      </div>
      <hr>
      <div class="col s5 m5 l5 bold">
        Producto
      </div>
      <div class="col s3 m3 l3 bold">
        Cantidad
      </div>
      <div class="col s2 m2 l2 bold">
        Precio
      </div>
      <div class="col s2 m2 l2 bold">
        Total
      </div>
      <div class="col s12 m12 l12" ng-repeat="product in ticket.products">
        <div class="row">
          <div class="col s5 m5 l5">
            {{product.productName}}
          </div>
          <div class="col s3 m3 l3">
            {{product.quantity}}
          </div>
          <div class="col s2 m2 l2">
            {{product.price | currency}}
          </div>
          <div class="col s2 m2 l2">
            {{product.quantity * product.price | currency}}
          </div>
        </div>
      </div>
      <div class="m-t-1em m-b-1em">
        <div class="col s12 m12 l12 right-align">
          total: <span class="bold green-text">{{ticket.total | currency}}</span>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>
