<div class="row">
  <div class="col s12 m12 l12 absolute-v-center normal-header-padding">
    <div class="col s5 m4 l2 no-margin">
      <label for="initialDate">Fecha inicial</label>
      <input input-date
             type="text"
             name="created"
             id="initialDate"
             ng-model="initialDate"
             container=""
             format="dd/mm/yyyy"
             months-full="{{ month }}"
             months-short="{{ monthShort }}"
             weekdays-full="{{ weekdaysFull }}"
             weekdays-short="{{ weekdaysShort }}"
             weekdays-letter="{{ weekdaysLetter }}"
             disable="disable"
             min="{{ minDate }}"
             max="{{ maxDate }}"
             today="today"
             first-day="1"
             clear="clear"
             close="close"
             select-years="15"
             on-set="onSet()" />
    </div>
    <div class="col s5 m4 l2">
      <label for="finalDate">Fecha final</label>
      <input input-date
             type="text"
             name="created"
             id="finalDate"
             ng-model="finalDate"
             container=""
             format="dd/mm/yyyy"
             months-full="{{ month }}"
             months-short="{{ monthShort }}"
             weekdays-full="{{ weekdaysFull }}"
             weekdays-short="{{ weekdaysShort }}"
             weekdays-letter="{{ weekdaysLetter }}"
             disable="disable"
             min="{{ minDate }}"
             max="{{ maxDate }}"
             today="today"
             first-day="1"
             clear="clear"
             close="close"
             select-years="15"
             on-set="onSet()" />
    </div>
    <div class="col m4 l4 hide-on-small-only">
      <button class="btn waves-effect blue"
              ng-click="filter()">Filtrar</button>
    </div>
  </div>

  <div class="col s12 hide-on-med-and-up absolute-v-center absolute-center m-b-1em">
    <button class="btn waves-effect blue"
            ng-click="filter()">Filtrar</button>
  </div>

  <div class="col s12 m6 l6 offset-m3 offset-l3">
  <h5 class="center stadistics-header">Hora con más venta</h5>
  <hr>
  <canvas id="bar3" class="chart chart-bar white" chart-colors="colors"
    chart-data="hourMoneyData" chart-labels="hourMoneyLabels" chart-series="daySellSeries">
  </canvas>
  <hr>
</div>

  <div class="col s12 m6 l6 offset-m3 offset-l3">
    <h5 class="center stadistics-header">Venta diaria (Promedio)</h5>
    <hr>
    <canvas id="bar1" class="chart chart-bar white" chart-colors="colors"
      chart-data="totalMoneyAmmountData" chart-labels="totalMoneyAmmountLabels" chart-series="daySellSeries">
    </canvas>
    <hr>
  </div>

  <div class="col s12 m6 l6 offset-m3 offset-l3">
  <h5 class="center stadistics-header">Venta mensual (Promedio)</h5>
  <hr>
  <canvas id="line" class="chart chart-bar white" chart-colors="colors"
    chart-data="totalMonthMoneyData" chart-labels="totalMonthMoneyLabels" chart-series="daySellSeries">
  </canvas>
  <hr>
</div>

  <div class="col s12 m6 l6 offset-m3 offset-l3">
    <h5 class="center stadistics-header">Hora con más comandas (Promedio)</h5>
    <hr>
    <canvas id="bar2" class="chart chart-bar white" chart-colors="colors"
      chart-data="commandsPerHours" chart-labels="hourMoneyLabels" chart-series="daySellSeries">
    </canvas>
    <hr>
  </div>

  <div class="col s12 m6 l6 offset-m3 offset-l3">
    <h5 class="center stadistics-header">Comandas diarias (Promedio)</h5>
    <hr>
    <canvas id="bar2" class="chart chart-bar white" chart-colors="colors"
      chart-data="daySellData" chart-labels="daySellLabels" chart-series="daySellSeries">
    </canvas>
    <hr>
  </div>

  <div class="col s12 m6 l6 offset-m3 offset-l3">
    <h5 class="center stadistics-header">Comandas mensuales (Promedio)</h5>
    <hr>
    <canvas id="bar2" class="chart chart-bar white" chart-colors="colors"
      chart-data="commandsPerMonth" chart-labels="totalMonthMoneyLabels" chart-series="daySellSeries">
    </canvas>
    <hr>
  </div>

</div>
