.add-products-sell-products-container {
  border-bottom:1px solid rgba(0,0,0,0.3);
  border-right:1px solid rgba(0,0,0,0.3);
}

.add-product-to-sell-header {
  margin-top: 1em;
}

.new-order-products-container {
  border: 1px solid gray;
  display: flex;
  height: 30vh;
  overflow-y: scroll;
}

.calculator-container {
  box-shadow: 0 0 5px 1px gray;
  background: #e4e1e1;
  font-weight: bolder;
  font-size: 1.3em;
}

.product-category-properties {
  background: #e4e1e1;
  color: #0073c7;
  font-size: 2em;
}

.product-name {
  font-size: 1.7em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sell-product-image {
  width: 50px;
}

.sell-products-item {
  margin: 0.5em 0;
  position: relative;
}

.sell-products-item-container {
  background: white;
  box-shadow: 0 0 2px 1px gray;
}

.sell-products-item-delete {
  position: absolute;
  top: 18%;
  right: 0;
  cursor: pointer;
}

.sell-products-item-properties {
  margin-top: 1em;
}

.sell-products-card {
  height: 9em;
}

.serve-products-card {
  background-color: #ededed;
}

.serve-products-card-normal {
  background-color: #fff;
}


.serve-products-card-to-go {
  background-color: #caffd6;
}


.serve-products-table-header {
  color: #008be3;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .sell-product-image {
    width: 35px;
  }
}
