
<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Historial</span>
    <!--button class="btn waves-effect green right margin-0-5em"
            ng-click="openResumeModal()">
      <span class="material-icons v-align-center">search</span>Resumen
    </button -->
  </div>
  <div class="normal-header-padding">
    <div class="col s12 m12 l12 absolute-v-center">
      <div class="col s5 m4 l2 no-margin">
        <label for="initialDate">Fecha inicial</label>
        <input input-date
        type="text"
        name="created"
        id="initialDate"
        ng-model="initialDate"
        container=""
        format="dd/mm/yyyy"
        months-full="{{ month }}"
        months-short="{{ monthShort }}"
        weekdays-full="{{ weekdaysFull }}"
        weekdays-short="{{ weekdaysShort }}"
        weekdays-letter="{{ weekdaysLetter }}"
        disable="disable"
        min="{{ minDate }}"
        max="{{ maxDate }}"
        today="today"
        first-day="1"
        clear="clear"
        close="close"
        select-years="15"
        on-set="onSet()" />
      </div>
      <div class="col s5 m4 l2">
        <label for="finalDate">Fecha final</label>
        <input input-date
        type="text"
        name="created"
        id="finalDate"
        ng-model="finalDate"
        container=""
        format="dd/mm/yyyy"
        months-full="{{ month }}"
        months-short="{{ monthShort }}"
        weekdays-full="{{ weekdaysFull }}"
        weekdays-short="{{ weekdaysShort }}"
        weekdays-letter="{{ weekdaysLetter }}"
        disable="disable"
        min="{{ minDate }}"
        max="{{ maxDate }}"
        today="today"
        first-day="1"
        clear="clear"
        close="close"
        select-years="15"
        on-set="onSet()" />
      </div>
      <div class="col m4 l4 hide-on-small-only">
        <button class="btn waves-effect blue"
        ng-click="filter()">Filtrar</button>
        <button class="btn waves-effect green"
        ng-click="clean()">Ver Todo</button>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up absolute-v-center absolute-center m-b-1em">
      <button class="btn waves-effect blue"
      ng-click="filter()">Filtrar</button>
    </div>
    <div class="col s12 hide-on-med-and-up absolute-v-center absolute-center m-b-1em">
        <button class="btn waves-effect green"
        ng-click="clean()">Ver Todo</button>
      </div>
    <div class="col s12 m12 l12 m-b-1em" ng-show="!showFilteredData">
      <div class="col s4 m4 l4">
        <input type="checkbox"
        id="canceled"
        ng-click="showOrders('Cancelada', 'selectCanceled')"
        ng-model="selectCanceled"
        ng-disabled="selectCanceled"
        ng-change="currentPage = 1">
        <label for="canceled">Canceladas </label>
      </div>
      <div class="col s4 m4 l4">
        <input type="checkbox"
        id="Acepted"
        ng-click="showOrders('Activa', 'selectActive')"
        ng-model="selectActive"
        ng-disabled="selectActive"
        ng-change="currentPage = 1">
        <label for="Acepted">Activas </label>
      </div>
      <div class="col s4 m4 l4">
        <input type="checkbox"
        id="All"
        ng-click="showOrders('','selectAll')"
        ng-model="selectAll"
        ng-init="selectAll = true"
        ng-disabled="selectAll"
        ng-change="currentPage = 1">
        <label for="All">Todas </label>
      </div>
    </div>

    <div class="col s12 m12 l12 m-b-1em" ng-show="showFilteredData">
      <div class="col s4 m4 l4">
        <input type="checkbox"
        id="canceled1"
        ng-click="showOrders('Cancelada', 'selectCanceled', true)"
        ng-model="selectCanceled"
        ng-disabled="selectCanceled"
        ng-change="currentPage = 1">
        <label for="canceled1">Canceladas </label>
      </div>
      <div class="col s4 m4 l4">
        <input type="checkbox"
        id="Acepted1"
        ng-click="showOrders('Activa', 'selectActive', true)"
        ng-model="selectActive"
        ng-disabled="selectActive"
        ng-change="currentPage = 1">
        <label for="Acepted1">Activas </label>
      </div>
      <div class="col s4 m4 l4">
        <input type="checkbox"
        id="All1"
        ng-click="showOrders('','selectAll', true)"
        ng-model="selectAll"
        ng-init="selectAll = true"
        ng-disabled="selectAll"
        ng-change="currentPage = 1">
        <label for="All1">Todas </label>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <dir-pagination-controls ng-show="count > 0" on-page-change="setPage({newPageNumber})" pagination-id="paginador"
          ng-if="!showFilteredData">
      </dir-pagination-controls>
      <dir-pagination-controls pagination-id="paginador2"
          ng-if="showFilteredData">
      </dir-pagination-controls>
    </div>
    <div class="sell-products-item-properties"
      dir-paginate="folio in history | filter: orderFilter | itemsPerPage: 6 "
      total-items="count"
      ng-class="{'row' : (($index + 1) % 3 === 0)}"
      pagination-id="paginador"
      current-page="currentPage"
      ng-show="!showFilteredData">
      <div class="col s12 m12 l4 m-b-1em">
        <div class="col s12 m10 l10 offset-l1 sell-products-item-container offset-m1">
          <div class="col s12 m12 l12">
            <div class="col s6 m6 l6">
              <div class="col s12 m12 l12">
                <span class="bold">Fecha y Hora:</span>
              </div>
              <div class="col s12 m12 l12">
                <span class="bold indigo-text lighten-2">
                  {{folio.date | date: 'dd-MM-yyyy - hh:mm:a'}}
                </span>
              </div>
            </div>
            <div class="col s6 m6 l6 right-align font-17">
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table > 0 && folio.table < 9998">
                Mesa #{{folio.table}}
              </span>
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table === 0">
                Venta general
              </span>
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table === 9999">
                Para llevar
              </span>
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table > 0 && folio.table === 9998">
                Consumo interno
              </span>
            </div>
          </div>
          <div class="col s6 m6 l6 bold">
            Folio: #{{folio.folio}}
          </div>
          <div class="col s6 m6 l6 bold right-align" ng-show="folio.totalTickets > 0">
            <a href="#" ng-click="getTickets(folio.folio)">Ver tickets</a>
          </div>
          <div class="col s6 m6 l6 bold right-align green-text" ng-show="folio.totalTickets == 0">
            Sin tickets
          </div>

          <hr>
          <div class="col s12 m12 l12 sell-products-item-container x-margin-1em">
            <div class="col s8 m8 l8 bold">
              Producto
            </div>
            <div class="col s4 m4 l4 bold right-align">
              cantidad
            </div>
            <hr>
            <div ng-repeat="product in folio.products">
              <div class="sell-products-item col s12 m12 l12"
                ng-class="{'normal-border' : !$last }">
                <span class="col s8 m8 l8 padding-none bold">
                  <p class="no-margin">{{product.productName}}</p>
                </span>
                <span class="col s4 m4 l4 right-align green-text bold padding-none">
                  <p class="no-margin">{{product.quantity}}</p>
                </span>

              </div>
            </div>
          </div>
          <div class="col s12 m12 l12">
            Total: <span class="bold">{{folio.total | currency}}</span>
          </div>
          <div class="col s12 m12 l12">
            Estado:
            <span class="bold"
            ng-class="{'red-text' :folio.status === 'Cancelada',
            'green-text': folio.status === 'Activa'}">
            {{folio.status}}
            <span ng-show="folio.cancelUser">por {{folio.cancelUser}}</span>
            <span ng-show="folio.internalUser && folio.table === 9998 && !folio.cancelUser">para {{folio.internalUser}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="sell-products-item-properties"
      dir-paginate="folio in history | filter: orderFilter | itemsPerPage: 6 "
      ng-class="{'row' : (($index + 1) % 3 === 0)}"
      pagination-id="paginador2"
      ng-show="showFilteredData">
      <div class="col s12 m12 l4 m-b-1em">
        <div class="col s12 m10 l10 offset-l1 sell-products-item-container offset-m1">
          <div class="col s12 m12 l12">
            <div class="col s6 m6 l6">
              <div class="col s12 m12 l12">
                <span class="bold">Fecha y Hora:</span>
              </div>
              <div class="col s12 m12 l12">
                <span class="bold indigo-text lighten-2">
                  {{folio.date | date: 'dd-MM-yyyy - hh:mm:a'}}
                </span>
              </div>
            </div>
            <div class="col s6 m6 l6 right-align font-17">
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table > 0 && folio.table < 9998">
                Mesa #{{folio.table}}
              </span>
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table === 0">
                Venta general
              </span>
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table === 9999">
                Para llevar
              </span>
              <span class=" padding-none bold center no-margin  blue-text darken-1"
                    ng-show="folio.table > 0 && folio.table === 9998">
                Consumo interno
              </span>
            </div>
          </div>
          <div class="col s6 m6 l6 bold">
            Folio: #{{folio.folio}}
          </div>
          <div class="col s6 m6 l6 bold right-align" ng-show="folio.totalTickets > 0">
            <a href="#" ng-click="getTickets(folio.folio)">Ver tickets</a>
          </div>
          <div class="col s6 m6 l6 bold right-align green-text" ng-show="folio.totalTickets == 0">
            Sin tickets
          </div>

          <hr>
          <div class="col s12 m12 l12 sell-products-item-container x-margin-1em">
            <div class="col s8 m8 l8 bold">
              Producto
            </div>
            <div class="col s4 m4 l4 bold right-align">
              cantidad
            </div>
            <hr>
            <div ng-repeat="product in folio.products">
              <div class="sell-products-item col s12 m12 l12"
                ng-class="{'normal-border' : !$last }">
                <span class="col s8 m8 l8 padding-none bold">
                  <p class="no-margin">{{product.productName}}</p>
                </span>
                <span class="col s4 m4 l4 right-align green-text bold padding-none">
                  <p class="no-margin">{{product.quantity}}</p>
                </span>

              </div>
            </div>
          </div>
          <div class="col s12 m12 l12">
            Total: <span class="bold">{{folio.total | currency}}</span>
          </div>
          <div class="col s12 m12 l12">
            Estado:
            <span class="bold"
            ng-class="{'red-text' :folio.status === 'Cancelada',
            'green-text': folio.status === 'Activa'}">
            {{folio.status}}
            <span ng-show="folio.cancelUser">por {{folio.cancelUser}}</span>
            <span ng-show="folio.internalUser && folio.table === 9998 && !folio.cancelUser">para {{folio.internalUser}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="orders-resume-modal" class="modal full-modal-size modal-fixed-footer row">
  <div class="modal-content">
    <div class="col s12 m12 l12 bold m-b-1em order-history-header" ng-if="showingDate">
      Resumen de <span class="gray-color">{{showingDate}}</span>
    </div>
    <div class="col s12 m12 l12 bold m-b-1em order-history-header" ng-if="!showingDate">
      Resumen de <span class="gray-color">ventas en general:</span>
    </div>
    <hr>
    <div class="col s12 m10 offset-m1 l10 offset-l1
                sell-products-item-container relative m-t-1em padding-none">
      <div class="col s6 m6 l6 m-t-1em m-b-1em">
        <div class="col s12 m12 l12 red-text bold">
          Productos Cancelados
        </div>
        <div class="col s12 m12 l12 padding-none normal-border"
             ng-repeat="product in products"
             ng-if="product.status === 'Cancelada'">
          <div class="col s6 m6 l6 bold">
            {{product.productName}}
          </div>
          <div class="col s3 m3 l3 green-text bold">
            {{product.quantity}}
          </div>
          <div class="col s3 m3 l3 bold right-align padding-none">
            {{product.price | currency}}
          </div>
        </div>
      </div>
      <div class="col s6 m6 l6 m-t-1em m-b-1em">
        <div class="col s12 m12 l12 green-text bold">
          Productos Vendidos
        </div>
        <div class="col s12 m12 l12 padding-none normal-border"
             ng-repeat="product in products"
             ng-if="product.status !== 'Cancelada'">
          <div class="col s6 m6 l6 bold">
            {{product.productName}}
          </div>
          <div class="col s3 m3 l3 green-text bold">
            {{product.quantity}}
          </div>
          <div class="col s3 m3 l3 bold right-align padding-none">
            {{product.price | currency}}
          </div>
        </div>
      </div>
      <span class="floating-line"></span>
    </div>
    <div class="col s5 m5 l5 offset-s1 offset-m1 offset-l1 bold right-align">
      Total: <span class="red-text">{{totalLost | currency}}</span>
    </div>
    <div class="col s5 m5 l5 bold right-align">
      Total: <span class="green-text">{{totalSold | currency}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>

<div id="ticket-list-modal" class="modal row modal-fixed-footer">
  <div class="modal-content">
    <div class=""
         ng-repeat="ticket in tickets">
      <hr>
      <div class="col s12 m12 l12 bold">
       Folio: #{{ticket.folio}}
      </div>
      <div class="col s4 m4 l4 bold">
       Usuario
      </div>
      <div class="col s4 m4 l4 bold">
       Mesa
      </div>
      <div class="col s4 m4 l4 bold right-align">
       Tiempo total
      </div>
      <div class="row">
        <div class="col s4 m4 l4">
          {{ticket.userName}}
        </div>
        <div class="col s4 m4 l4">
          {{ticket.table}}
        </div>
        <div class="col s4 m4 l4 right-align">
          {{ticket.totalTime}} minutos
        </div>
      </div>
      <hr>
      <div class="col s5 m5 l5 bold">
        Producto
      </div>
      <div class="col s3 m3 l3 bold">
        Cantidad
      </div>
      <div class="col s2 m2 l2 bold">
        Precio
      </div>
      <div class="col s2 m2 l2 bold">
        Total
      </div>
      <div class="col s12 m12 l12" ng-repeat="product in ticket.products">
        <div class="row">
          <div class="col s5 m5 l5">
            {{product.productName}}
          </div>
          <div class="col s3 m3 l3">
            {{product.quantity}}
          </div>
          <div class="col s2 m2 l2">
            {{product.price | currency}}
          </div>
          <div class="col s2 m2 l2">
            {{product.quantity * product.price | currency}}
          </div>
        </div>
      </div>
      <div class="m-t-1em m-b-1em">
        <div class="col s12 m12 l12 right-align">
          total: <span class="bold green-text">{{ticket.total | currency}}</span>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>
