<div class="row">
    <div class="col s12 m12 l12 normal-header">
      <span class="new-cut-header">Pendiente por cobrar</span>
    </div>

  <div class="row cursor-default normal-header-padding">
    <div class="col s12 m12 l12 padding-none">
      <button class="btn waves-effect red hide-on-large-only m-t-1em
                     col s10 m10 offset-s1 offset-m1"
              ng-click="openNewSellModal()">
        Agregar Nuevo
      </button>
      <div class="col s12 m12 l12">
        <div class="sell-products-item-properties" ng-repeat="folio in pendingFolios | orderBy: 'table'"
              ng-class="{'row' : (($index + 1) % 3 === 0)}">
          <div class="col s12 m12 l4 m-b-1em">
            <div class="col s10 m10 l10 offset-l1 sell-products-item-container
                  offset-s1 offset-m1">
                  <span class="bold">pedido {{folio.dateHour}}</span>
                  <hr>
        <div class="col s12 m12 l12 padding-none m-t-1em">
          <div class="col s4 m4 l4">
            <span class="bold pointer green-text"
                  ng-click="paySelectedFolio(folio)"
                  ng-if="selectedRol !== 'n'">
              Pagar
            </span>
          </div>
          <div class="col s4 m4 l4 red-text center">
             <span class="pointer bold"
                   ng-click="cancelCurrentOrderModal(folio)"
                   ng-if="selectedRol !== 'n'">
                Cancelar
              </span>
          </div>
          <div class="col s4 m4 l4 padding-none right-align">
            <span class="bold pointer blue-text"
                  ng-click="modifySelectedFolio(folio)">
              Editar Orden
            </span>
          </div>
        </div>

        <h5 class="col s12 m12 l12 padding-none bold center no-margin"
            ng-show="folio.table > 0 && folio.table < 9998">
            Mesa #{{folio.table}}
        </h5>

        <h5 class="col s12 m12 l12 padding-none bold center no-margin"
            ng-show="folio.table === 9999">
            Para llevar
        </h5>

        <h5 class="col s12 m12 l12 padding-none bold center no-margin"
            ng-show="folio.table === 9998">
            Consumo interno
        </h5>

        <hr>
        <div class="col s4 m4 l4 bold">
          Platillo
        </div>
        <div class="col s4 m4 l4 bold right-align">
          Resta
        </div>
        <div class="col s4 m4 l4 bold right-align">
          Total
        </div>
        <div ng-repeat="detail in folio.details">
          <div class="sell-products-item col s12 m12 l12">
            <span class="col s4 m4 l4 padding-none bold">
              <p class="no-margin">Platillo #{{detail.clientNumber}}</p>
            </span>
            <span class="col s4 m4 l4 right-align green-text bold padding-none">
              <p class="no-margin">{{detail.subTotal | currency}}</p>
            </span>
            <span class="col s4 m4 l4 right-align bold padding-none">
              <p class="no-margin">{{detail.total | currency}}</p>
            </span>
          </div>
        </div>
        <div class="col s6 m6 l6">
          Por pagar: <span class="bold">{{folio.pendingPayment | currency}}</span>
        </div>
        <div class="col s6 m6 l6">
          <a href="#" ng-click="openDetailPaymentModal(folio.details, folio._id, folio)">Ver Resumen</a>
        </div>
        <p>
        </p>
      </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn hide-on-med-and-down">
      <a class="btn-floating btn-large waves-effect waves-light red floating-custom"
         ng-click="openNewSellModal()"><i class="material-icons">add</i></a>
    </div>
  </div>

  <div id="delete-item-modal" class="modal">
    <div class="modal-content">
      <h5>Desea eliminar el producto seleccionado?</h5>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect blue m-l-1em"
              ng-click="removeItem('','',1)">Aceptar</button>
      <button class="btn waves-effect red modal-close">Cancelar</button>
    </div>
  </div>

  <div id="new-sell-modal" class="modal  modal-fixed-footer row">
    <div class="modal-content">
      <div class="col s12 m12 l12">
        <div class="col s3 m3 l3">
          <p>Mesa #:</p>
          <input numbers-only
                 string="table"
                 max-number="99"
                 type="number"
                 ng-model="table"
                 ng-disabled="sellToGo || employeeFood">
        </div>
        <div class="col s4 m4 l4 offset-s1 offset-m1 offset-l1">
          <p class="absolute-v-center"
             ng-show="isNew">
            Venta general &nbsp;
            <input type="checkbox"
                   ng-model="isGeneralSale"
                   id="general-sale">
            <label for="general-sale"></label>
          </p>
          <p class="absolute-v-center"
             ng-show="isNew">
            Consumo interno &nbsp;
            <input type="checkbox"
                   ng-model="employeeFood"
                   id="employeeFood">
            <label for="employeeFood"></label>
          </p>

        </div>

        <div class="col s3 m3 l3 offset-s1 offset-m1 offset-l1">
          <p class="absolute-v-center">
            para llevar &nbsp;
            <input type="checkbox"
                   ng-model="sellToGo"
                   id="sell-to-go">
            <label for="sell-to-go"></label>
          </p>
          <p class="absolute-v-center"
             ng-show="employeeFood && isNew">
            <select ng-model="selectedUser"
                    ng-options="user.name as user.name for user in users"
                    class="browser-default bold"
                    name="roles"
                    material-select>
              <option value="" disabled>Seleccionar usuario</option>
            </select>
          </p>

        </div>
      </div>
      <div class="col s12 m12 l12 m-b-1em">
        <span class="col s4 m4 l4 bold">Cliente</span>
        <span class="col s3 m3 l3 bold center">Sub Total</span>
        <span class="col s3 m3 l3 bold center">Pagado</span>
        <span class="col s2 m2 l2 bold right-align"></span>
      </div>
      <div class="col s12 m12 l12 row m-b-1em full-bordered"
           ng-repeat="client in clients">
        <div class="">
          <div class="col s12 m12 l12">
            <span class="col s4 m4 l4 blue-text bold pointer"
                  ng-click="editSelectedClient($index)">Platillo #{{client.clientNumber}}</span>
            <span class="col s3 m3 l3 center">{{client.subTotal | currency}}</span>
            <span class="col s3 m3 l3 center">{{client.paid | currency}}</span>
            <span class="col s2 m2 l2 right-align">
              <i class="material-icons red-text pointer"
                 ng-click="openDeleteClientModal($index)">delete</i>
            </span>
          </div>
          <div class="col s12 m12 l12 font-18 grey-text">
            <div ng-repeat="product in client.products">
              <div class="col s2 m2 l2">
                {{product.quantity}}
              </div>
              <div class="col s10 m10 l10">
                {{product.productName}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn waves-effect btn-floating green"
              ng-click="addClient()">
        <i class="material-icons">add</i>
      </button>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect blue m-l-1em"
              ng-click="saveOrder()">Finalizar</button>
      <button class="btn waves-effect red"
              ng-click="resetClientsModal()">Cancelar</button>
    </div>
  </div>

  <div id="edit-selected-client" class="modal full-modal-size modal-fixed-footer row">
    <div class="modal-content">
      <div class="col s12 m12 l12 absolute-v-center">
        <div class="col s6 m6 l6">
          <p class="bold">Platillo #{{selectedClient.clientNumber}}</p>
        </div>
        <div class="col s6 m6 l6 absolute-v-center right-align">
          <label for="">Para llevar: &nbsp;&nbsp;</label>
          <input type="checkbox"
                 class="filled-in"
                 id="to-go"
                 ng-model="toGo"/>
        <label for="to-go"></label>
        </div>
      </div>
      <div class="col s12 m12 l12 absolute-v-center">
        <div class="col s4 m4 l4">
          <label for="">Producto</label>
          <angucomplete-alt id="supplies"
                       placeholder="Buscar productos"
                       pause="100"
                       selected-object="selectedSupply"
                       local-data="products"
                       search-fields="name"
                       title-field="name"
                       minlength="1"
                       input-class="form-control form-control-small"/>
        </div>
        <div class="col s4 m4 l4">
          Cantidad
          <input numbers-only
                 string="quantity"
                 max-number="99"
                 type="number"
                 ng-model="quantity"
                 ng-keypress="checkEnterKey($event)">
        </div>
        <div class="col s4 m4 l4">
          <button class="btn waves-effect blue"
                  ng-click="addToList()">
            <i class="material-icons">add</i>
          </button>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l8 new-order-products-container display-inherit">
          <div class="col s12 m12 l12"
              ng-show="selectedClient.products.length > 0">
            <div class="col s3 m3 l3">
              Producto
            </div>
            <div class="col s3 m3 l3">
              Precio
            </div>
            <div class="col s3 m3 l3">
              Cantidad
            </div>
            <div class="col s3 m3 l3">
              Total
            </div>
            <hr>
          </div>
          <div ng-repeat="product in selectedClient.products track by $index"
               class="row">
              <div class="col s3 m3 l3 bold">
                <p class="no-margin">{{product.productName}}</p>
              </div>
              <div class="col s3 m3 l3 green-text">
                <p class="no-margin">{{product.price | currency}}</p>
              </div>
              <div class="col s3 m3 l3 bold ">
                <p class="no-margin">{{product.quantity}}</p>
              </div>
              <div class="col s2 m2 l2 bold green-text">
                <p class="no-margin">{{product.subTotal | currency}}</p>
              </div>
              <div class="col s1 m1 l1 right-align bold red-text">
                <i class="material-icons pointer"
                   ng-click="removeSelectedItem($index)">delete</i>
              </div>
          </div>
          <div ng-hide="selectedClient.products.length > 0"
            class="col s12 m12 l12 center absolute-v-center absolute-center grey-text">
            <h5>Agregar productos para ver la lista.</h5>
          </div>
        </div>
        <div class="col s12 m12 l4 font-23">
          <h6>Comentarios:</h6>
          <textarea id="textarea1"
                    ng-model="comment"></textarea>
        </div>
        <div class="col s12 m12 l12 font-23">
          <div class="col s4 m4 l4 bold">
            Total:
            <p class="red-text">{{selectedClient.total | currency}}</p>
          </div>
          <div class="col s4 m4 l4 bold">
            Por pagar:
            <p class="green-text">{{selectedClient.subTotal | currency}}</p>
          </div>
          <div class="col s4 m4 l4">
            <label for="paying">Paga con:</label>
            <input numbers-only
                   string="paying"
                   max-number="9999"
                   name="paying"
                   type="number"
                   ng-model="paying">
          </div>
        </div>
        <div class="col s12 m12 l12">
          <div class="col s4 m4 l4 bold">
            Resta:
            <p ng-show="selectedClient.subTotal - paying > 0"
               class="red-text">{{selectedClient.subTotal - paying | currency}}</p>
            <p ng-show="selectedClient.subTotal - paying <= 0"
               class="red-text">{{0 | currency}}</p>
          </div>
          <div class="col s4 m4 l4 bold">
            Sobra:
            <p ng-show="selectedClient.subTotal - paying < 0"
               class="green-text">{{(selectedClient.subTotal - paying) * -1 | currency}}</p>
            <p ng-show="selectedClient.subTotal - paying >= 0"
               class="green-text">{{0 | currency}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect blue m-l-1em"
              ng-click="addItemsToClient()">Finalizar</button>
      <button class="btn waves-effect red modal-close"
              ng-click="clearItemsArray()">Cancelar</button>
    </div>
  </div>

  <div id="verify-client-delete" class="modal row">
    <div class="modal-content">
      <h5>¿Desea eliminar al cliente seleccionado?</h5>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect blue m-l-1em modal-close"
              ng-click="deleteSelectedClient()">Aceptar</button>
      <button class="btn waves-effect red modal-close">Cancelar</button>
    </div>
  </div>


  <div id="pay-pending-modal" class="modal row modal-fixed-footer">
    <div class="modal-content col s12 m12 l12">
      <h5>Cuenta de mesa #{{selectedFolio.table}}</h5>
      <div class="col s12 m12 l12 m-b-1em">

        <span class="col s3 m2 l2"><p>Cliente:</p></span>
        <select ng-model="selectedTableClient"
                ng-options="client as 'Platillo #' + client.clientNumber for client in selectedFolio.details"
                class="browser-default bold col s9"
                name="client"
                material-select>
        <option value="" selected>Cuenta General</option>
        </select>
      </div>
      <div class="col s12 m12 l12 absolute-v-center">
        <div class="col s4 m4 l4">
          <label for="clientPaying">Pago:</label>
          <input numbers-only
          string="clientPaying"
          max-number="9999"
          type="number"
          name="clientPaying"
          id="client-paying"
          ng-init="clientPaying = ''"
          ng-model="clientPaying">
        </div>
        <div class="col s3 m3 l3">

          <p ng-show="selectedTableClient">debe: <span class="bold">
            {{selectedTableClient.subTotal ||
              0 | currency}}</span>
          </p>
          <p ng-hide="selectedTableClient">debe: <span class="bold">
              {{selectedFolio.pendingPayment ||
              0 | currency}}</span>
          </p>
        </div>
        <div class="col s2 m2 l2">
          <div ng-show="selectedTableClient.subTotal - clientPaying > 0 && selectedTableClient">
            <p><span class="bold">Resta:</span>
            <span class="bold red-text bold">
              {{selectedTableClient.subTotal  - clientPaying || 0 | currency }}
            </span></p>
          </div>

          <div ng-show="selectedFolio.pendingPayment - clientPaying > 0 && !selectedTableClient">
            <p><span class="bold">Resta:</span>
            <span class="bold red-text bold">
              {{selectedFolio.pendingPayment  - clientPaying || 0 | currency }}
            </span></p>
          </div>

          <div ng-show="selectedTableClient.subTotal - clientPaying <= 0 && selectedTableClient">
            <span class="bold">Sobra:</span>
            <span class="green-text bold">{{clientPaying - selectedTableClient.subTotal | currency }}</span>
          </div>

          <div ng-show="selectedFolio.pendingPayment - clientPaying <= 0 && !selectedTableClient">
            <span class="bold">Sobra:</span>
            <span class="green-text bold">{{clientPaying - selectedFolio.pendingPayment | currency }}</span>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l12 center m-b-1em">
        <button class="btn waves-effect green"
                ng-click="confirmPayment()">Pagar</button>
      </div>
      <div class="col s3 m3 l3 bold center">
        Cliente
      </div>
      <div class="col s3 m3 l3 bold center">
        Debe
      </div>
      <div class="col s3 m3 l3 bold center">
        Pagado
      </div>
      <div class="col s3 m3 l3 bold center">
        Total
      </div>
      <hr>
      <div ng-repeat="detail in selectedFolio.details" class="row">
        <div class="col s3 m3 l3 center bold">
          Platillo #{{detail.clientNumber}}
        </div>
        <div class="col s3 m3 l3 center bold green-text">
          {{detail.subTotal | currency}}
        </div>
        <div class="col s3 m3 l3 center bold green-text">
          {{detail.paid | currency}}
        </div>
        <div class="col s3 m3 l3 center bold">
          {{detail.total | currency}}
        </div>
      </div>
      <hr>
      <div class="col s12 m12 l12 bold">
        <div class="col s12 m12 l6 left">
          Pendiente por pagar: <span class="bold green-text">{{selectedFolio.pendingPayment || 0 | currency}}</span>
        </div>
        <div class="col s12 m12 l6 right">
          Sobra: <span class="bold green-text">{{giveBack || 0 | currency}}</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect blue m-l-1em modal-close"
              ng-click="savePayment()">Aceptar</button>
      <button class="btn waves-effect red modal-close"
              ng-click="cancelPayFolio()">Cancelar</button>
    </div>
  </div>
</div>


<div id="verify-close-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea cerrar sin guardar la orden?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="resetClients()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="print-ticket-modal" class="modal row modal-fixed-footer">
  <div class="modal-content">
    <h5>¿Desea imprimir el ticket?</h5>
    <div id="ticket-to-print">
      <p class="bold" style="text-align: center">{{businessName}}</p>
      <p class="bold" style="text-align: center">{{businessAdress}}</p>
      <div class="col s12 m12 l12 bold" style="text-align: center">
        Folio: {{selectedFolio.folio}}
      </div>
      <div class="col s12 m12 l12 bold" style="text-align: center">
        Mesero: {{selectedFolio.userName}}
      </div>
      <hr>
      <div class="row">
        <div class="col s12 m12 l12 bold">
          Fecha: <span style="float: right">{{currentTime}}</span>
        </div>

      </div>
      <div class="row">
        <div class="col s12 m12 l12 bold">
          Mesa: <span style="float: right">{{selectedFolio.table}}</span>
        </div>

      </div>
      <div class="row">
        <div class="col s12 m12 l12 bold">
          Hora de llegada: <span style="float: right">{{checkIn}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 bold">
          Tiempo de estadía: <span style="float: right">{{elapsedTime}} minutos</span>
        </div>
      </div>
      <hr>
      <div class="col s12 m12 l12 x-margin-1em">
        <div class="col s12 m12 l12 bold">
            Producto
          <span style="float: right">
            Precio
          </span>
        </div>
        <div class="col s12 m12 l12 bold">
          Cantidad
          <span style="float: right">
            Total
          </span>
        </div>
        <hr>
        <div ng-repeat="product in selectedFolio.products">
          <div class="sell-products-item row">
            <div class="col s12 m12 l12 bold">
                {{product.productName}}
                <span style="float: right;">{{product.price | currency}}</span>
            </div>
            <div class="col s12 m12 l12 bold">
              {{product.quantity}}
              <span style="float: right;">{{product.quantity * product.price | currency}}</span>
            </div>
            <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 bold right-align" style="text-align: right">
          <span >Total: {{selectedFolio.total | currency}}</span>
        </div>
        <div class="col s12 m12 l12 bold right-align" style="text-align: right">
          <span>Por pagar: {{selectedFolio.pendingPayment | currency}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button id="print-ticket"
            class="btn waves-effect blue m-l-1em modal-close"
            ng-click="printTicket()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="cancel-order-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea Cancelar la orden?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="cancelCurrentOrder()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="fondo-client-modal" class="modal row">
  <div class="modal-content">
    <h5>Ingresar Cantidad de fondo</h5>
    <table class="bordered">
      <tr>
        <th>Fecha de fondo</th>
        <th>Cantidad</th>
        <th></th>
      </tr>
      <tr ng-repeat="fondo in fondoList">
        <td>{{fondo.date | date: 'dd-MM-yyyy hh:mm:a'}}</td>
        <td>{{fondo.quantity | currency}}</td>
        <td><span class="pointer blue-text"
                  ng-click="selectFondo(fondo.quantity)">Seleccionar</span></td>
      </tr>
    </table>
    <input numbers-only
           string="fondo"
           max-number="99999"
           type="number"
           ng-model="fondo"/>
  </div>
    <div class="modal-footer">
      <button class="btn waves-effect blue m-l-1em"
              ng-click="setFondo()">Aceptar</button>
      <button class="btn waves-effect red modal-close">Cancelar</button>
    </div>
</div>

<div id="order-details" class="modal row modal-fixed-footer">
  <div class="modal-content">
    <div ng-repeat="order in orderToShow" class="full-bordered m-t-1em padding-1em">
      <span class="bold">Cliente:</span> <span>{{order.clientNumber}}</span>
      <div class="row no-margin normal-border">
        <div class="col s4 m4 l4 center">
          <span class="bold">Nombre</span>
        </div>
        <div class="col s4 m4 l4 center">
          <span class="bold">Cantidad</span>
        </div>
        <div class="col s4 m4 l4 center">
          <span class="bold">Total</span>
        </div>
      </div>
      <div ng-repeat="product in order.products">
        <div class="row normal-border">
          <div class="col s4 m4 l4 center">
            {{product.productName}}
          </div>
          <div class="col s4 m4 l4 center">
            {{product.quantity}}
          </div>
          <div class="col s4 m4 l4 center">
            {{product.subTotal | currency}}
          </div>
        </div>
      </div>
      <div class="row m-b-1em">
        <div class="col s4 m4 l4" ng-show="order.tempSubTotal - (order.paid || 0) >= 0">
          Por Pagar: <span class="red-text bold">
            {{order.subTotal = order.tempSubTotal - (order.paid || 0) | currency}}
          </span>
        </div>
        <div class="col s4 m4 l4" ng-show="order.tempSubTotal - (order.paid || 0) < 0">
          Sobra:
          <span class="green-text bold">
            {{ -1 * (order.tempSubTotal - (order.paid || 0)) | currency}}
          </span>
        </div>
        <div class="col s4 m4 l4">
          Total: <span>{{order.total | currency}}</span>
        </div>
        <div class="col s4 m4 l4"
             ng-if="selectedRol !== 'n'">
          <input type="number"
                 name=""
                 value=""
                 ng-model="order.paid"
                 ng-init="order.paid = 0"
                 class="input-default-style"
                ng-if="false">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em"
            ng-click="aceptOrderDetailPayment()"
            ng-if="false">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>


<div id="edit-selected-client-images" class="modal full-modal-size modal-fixed-footer row">
  <div class="modal-content">
    <div ng-repeat="product in productsByCategory">
      <div class="col s4 m4 l4 full-bordered center bold pointer product-category-properties"
           ng-click="setCategory($index)">
        <span class="">{{product.category}}</span>
      </div>
    </div>
    <div class="row no-margin">
      <div class="col s6 m6 l6 absolute-v-center right-align m-t-1em">
        <label for="">Para llevar: &nbsp;&nbsp;</label>
        <input type="checkbox"
        class="filled-in"
        id="to-go"
        ng-model="toGo"/>
        <label for="to-go"></label>
      </div>
    </div>
    <div ng-repeat="product in productsByCategory"
    ng-show="selectedProductCategory == $index">
      <div id="product-container"
           class="col s12 m12 l8 new-order-products-container display-inherit m-t-1em">
        <div ng-repeat="item in product.products"
             class="col s6 m6 l6">
             <div class="col s12 m10 l10 offset-m1 offset-l1 card sell-products-card pointer"
                  ng-click="setSelectedItem(item)">
               <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 center">
                 <img ng-src="{{product.image}}" alt="" class="sell-product-image">
               </div>
               <div class="col s12 m12 l12 bold center product-name">
                 {{item.name}}
               </div>
             </div>
        </div>
      </div>
      <div class="col s12 m12 l4 m-t-1em">
        <table class="calculator-container">
          <tr>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('1')">1</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('2')">2</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('3')">3</td>
          </tr>
          <tr>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('4')">4</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('5')">5</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('6')">6</td>
          </tr>
          <tr>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('7')">7</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('8')">8</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('9')">9</td>
          </tr>
          <tr>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterBackspace()"><-</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="counterAdd('0')">0</td>
            <td class="center full-bordered pointer col s4 m4 l4 padding-1em"
                ng-click="imageMenuAddToList()">OK</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col s12 m12 l12 font-23">
      <h6>Comentarios:</h6>
      <textarea id="textarea1"
      ng-model="comment"></textarea>
    </div>
    <div class="col s12 m12 l12 new-order-products-container display-inherit font-23">
      <div class="col s12 m12 l12 normal-border">
        Por agregar: <span class="bold">{{selectedItem.name}}</span>
        <div class=" right">
          Cantidad: <span class="bold">{{quantityString}}</span>
        </div>

      </div>
      <div class="col s12 m12 l12">
        <div class="col s12 m12 l12"
             ng-show="selectedClient.products.length > 0">
          <div class="col s3 m3 l3">
            Producto
          </div>
          <div class="col s3 m3 l3">
            Precio
          </div>
          <div class="col s3 m3 l3">
            Cantidad
          </div>
          <div class="col s3 m3 l3">
            Total
          </div>
          <hr>
        </div>
        <div ng-repeat="product in selectedClient.products track by $index"
          class="row">
          <div class="col s3 m3 l3 bold">
            <p class="no-margin">{{product.productName}}</p>
          </div>
          <div class="col s3 m3 l3 green-text">
            <p class="no-margin">{{product.price | currency}}</p>
          </div>
          <div class="col s3 m3 l3 bold ">
            <p class="no-margin">{{product.quantity}}</p>
          </div>
          <div class="col s2 m2 l2 bold green-text">
            <p class="no-margin">{{product.subTotal | currency}}</p>
          </div>
          <div class="col s1 m1 l1 right-align bold red-text">
            <i class="material-icons pointer"
            ng-click="removeSelectedItem($index)">delete</i>
          </div>
        </div>
        <div ng-hide="selectedClient.products.length > 0"
          class="col s12 m12 l12 center absolute-v-center absolute-center grey-text">
          <h5>Agregar productos para ver la lista.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em"
            ng-click="imageMenuAddItemsToClient(0)">Finalizar</button>
    <button class="btn waves-effect green m-l-1em"
            ng-click="imageMenuAddItemsToClient(1)">Agregar & continuar</button>
    <button class="btn waves-effect red modal-close"
            ng-click="clearItemsArray()">Cancelar</button>
  </div>
</div>
