<div class="row cursor-default">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Pendiente por servir</span>
    <!-- div class="right absolute-v-center new-cut-header">
      <input type="checkbox"
      id="show-items"
      ng-model="showItems">
      <label for="show-items" class=" new-cut-header"> Mostrar entregadas</label>
    </div -->
  </div>
  <div class="col s12 m12 l12 m-t-1em normal-header-padding">
    <div ng-repeat="order in pendingServe"
         ng-if="order.served !== 'si' && order.served !== 'pendiente'">
         <!-- ng-hide="order.pendingProducts === 0 && !showItems" -->
      <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1 sell-products-item-container
                  m-b-1em serve-products-card">
        <div class="col s12 m12 l12">
          <span class="bold serve-products-table-header"
                ng-show="order.table < 9998">Mesa #{{order.table}}</span>
          <span class="bold serve-products-table-header"
                ng-show="order.table === 9999">Orden para llevar</span>
          <span class="bold serve-products-table-header"
                ng-show="order.table === 9998">Consumo interno</span>
            <span class="right green-text bold pointer font-17 m-t-5px">
              <i class="material-icons"
                 ng-click="finishServingModal(order)">check_circle</i>
            </span>
            <hr>
        </div>
        <div class="col s12 m12 l12 m-b-1em" ng-repeat="client in order.details"
             ng-hide="(client.pendingFromOrder === 0 || order.pendingProducts === 0) && !showItems">
          <p class="no-margin bold">
            Platillo #{{client.clientNumber}}
            <span ng-if="client.toGo || order.table === 9999"> - Para llevar</span>
          </p>
          <div class="col s12 m7 l7 sell-products-item-container padding-none"
               ng-class="{'serve-products-card-normal' : !client.toGo,
                          'serve-products-card-to-go' : client.toGo || order.table === 9999}">
            <div ng-repeat="product in client.products"
                 class="col s12 m12 l12 font-23"
                 ng-show="(showItems || !product.served) && product.kitchen !== false"
                 ng-class="{'normal-border' : !$last,
                  'order-server': product.served }">
              <div class="col s2 m2 l2 bold m-t-1em">
                {{product.quantity}}
              </div>
              <div class="col s8 m8 l8 bold m-t-1em">
                {{product.productName}}
              </div>
              <div class="col s2 m2 l2 m-t-1em">
                <input type="checkbox"
                       class="filled-in"
                       id="served_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}"
                       ng-model="product.served"
                       ng-click="updatePartialDetail(order, $parent.$index, $index)"/>
              <label for="served_{{$parent.$parent.$index}}_{{$parent.$index}}_{{$index}}"></label>
              </div>
            </div>
          </div>
          <div class="col m3 l3 offset-s1 offset-m1 offset-l1 hide-on-small-only font-28"
               ng-show="client.comment">
               <div class="sell-products-item-container comment-box serve-products-card-normal">
                 {{client.comment}}

               </div>
          </div>
          <div class="col s10 offset-s1 hide-on-med-and-up font-28 m-t-1em"
               ng-show="client.comment">
               <div class="sell-products-item-container comment-box serve-products-card-normal">
                 {{client.comment}}

               </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="finish-serving-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea Finalizar la orden?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="finishServing()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
