<catalog headers="headers"
          items="items"
          action-icons="actionIcons"
          add-function="goToNewUser"
          modify="modify"
          delete="openDeleteModal"
          count-item="count"
          page-control="setPage(pageNumber)"
        title="Listado de inventarios">
</catalog>


<div id="view-inventory-modal" class="modal footer-fixed-modal row">
  <div class="modal-content">
    <h5>Detalle de inventario.</h5>
    <div class="col s12 m12 l12">
      <div class="col s6 m6 l6">
        {{inventoryDetails.userName}}
      </div>
      <div class="col s6 m6 l6">
        Fecha: <span class="bold">{{inventoryDetails.date | date:'dd-MM-yyyy HH:mm:a'}}</span>
      </div>
    </div>
    <table class="bordered">
      <tr>
        <th class="center">Producto</th>
        <th class="center">Cantidad Anterior</th>
        <th class="center">Faltante</th>
        <th class="center">Cantidad Capturada</th>
      </tr>
      <tr ng-repeat="detail in inventoryDetails.details">
        <td class="center bold">
          {{detail.name}}
        </td>
        <td class="center bold blue-text">
          {{detail.quantityBeforeSave | number: 1}}
        </td>
        <td class="center bold orange-text">
          {{detail.quantityConsumed | number: 1}}
        </td>
        <td class="center bold green-text">
          {{detail.quantityAfterSave | number: 1}}
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>
