<div class="row m-t-1em">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">{{title}}</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToInventoryList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>
  <div class="normal-header-padding">
    <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
        <h5 ng-show ="!isEnabled" class="center">No se puede modificar debido a un cambio de producto.</h5>
      <table class="bordered">
        <tr  ng-repeat="item in items">
          <td class="purple-text bold col s3 m3 l3 m-t-1em">
            <p>{{item.name}}</p>
          </td>
          <td class="col s3 m3 l3 m-t-1em center bold">
            <p>{{item.typeDescription}}</p>
          </td>
          <td class="col s3 m3 l3 m-t-1em center bold">
            <p><span class="blue-text">Restan:</span> {{item.quantity | number: 1}}</p>
          </td>
          <td class="col s3 m3 l3 m-t-1em">
            <input type="text"
            numbers-only
            string="item.newQuantity"
            ng-model="item.newQuantity"
            max-number="9999"
            name=""
            ng-disabled="!isEnabled"
            class="col s9 m4 l4 offset-s3 offset-m8 offset-l8 m-b-0"
            value="">
          </td>
        </tr>
      </table>
    </div>
    <div class="col s12 m12 l12">
      <div class="absolute-center m-t-1em">
        <button class="btn waves-effect blue"
        ng-click="SaveNewInventory()"
        ng-disabled="!isEnabled">Finalizar & regresar</button>
      </div>
    </div>
  </div>
</div>
