<div class="row m-t-1em">

  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Compra de insumos</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToSuppliesDetailList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>
  <div class="normal-header-padding">
    <div class="white-background grid">
      <div class="col s12 m12 l12 m-t-1em absolute-v-center">
        <div ng-show="supplies"
          class="col s4 m3 l3">
          <label for="">Insumo</label>
          <angucomplete-alt id="supplies"
          placeholder="Buscar productos"
          pause="100"
          selected-object="selectedSupply"
          local-data="supplies"
          search-fields="name"
          title-field="nameWithDescription"
          minlength="1"
          input-class="form-control form-control-small"/>
        </div>

        <div class="col s4 m3 l3">
          <label for="quantity">Cantidad: </label>
          <input numbers-only
          string="quantity"
          max-number="9999"
          type="text"
          name="quantity"
          ng-model="quantity">
        </div>

        <div class="col s4 m3 l3">
          <label for="total">Total: </label>
          <input numbers-only
                 string="total"
                 max-number="99999"
                 type="text"
                 name="total"
                 ng-model="total"
                 ng-keyup="checkEnterKey($event)">
        </div>
        <div class="col m3 l3 hide-on-small-only">
          <div class="absolute-center">
            <button class="btn waves-effect blue"
            ng-click="addSuply()">Agregar</button>
          </div>
        </div>
      </div>

      <div class="col s12 hide-on-med-and-up">
        <div class="absolute-center m-t-1em">
          <button class="btn waves-effect blue"
          ng-click="addSuply()">Agregar</button>
        </div>
      </div>

      <div class="col s12 m12 l12 m-t-3em">
        <div class="col s12 m12 l12 padding-none  absolute-v-center">
          <div class="col s2 m2 l2 bold">
            <p>Nombre</p>
          </div>
          <div class="col s2 m2 l2 bold">
            <p>Insumo principal</p>
          </div>
          <div class="col s3 m2 l2 center bold right-align">
            <p>Cantidad</p>
          </div>
          <div class="col s4 m2 l2 center bold right-align">
            <p>Precio Total</p>
          </div>
          <div class="col m2 l2 center bold center hide-on-small-only">
            <p>Precio Unitario</p>
          </div>
          <div class="col m2 l2 center bold hide-on-small-only">
            <p>Eliminar</p>
          </div>
          <div class="col s1 hide-on-med-and-up">
            -
          </div>
        </div>
        <div class="col s12 m12 l12">
          <hr>
        </div>
        <div ng-repeat="currentItem in currentItems"
          class="col s12 m12 l12">
          <div class="col s2 m2 l2">
            {{currentItem.name}}
          </div>
          <div class="col s2 m2 l2">
            {{currentItem.description}}
          </div>
          <div class="col s3 m2 l2 center bold right-align">
            {{currentItem.quantity}}
          </div>
          <div class="col s4 m2 l2 center bold right-align green-text accent-4">
            {{currentItem.total | currency}}
          </div>
          <div class="col s3 m2 l2 center bold center green-text accent-4 hide-on-small-only">
            {{currentItem.price | currency}}
          </div>
          <div class="col s1 m2 l2 center">
            <i class="material-icons red-text pointer center"
            ng-click="deleteCurrentItem($index)">delete</i>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l12"
             ng-show="currentItems.length > 0">
        <hr>
        <p>TOTAL: <span class="bold green-text accent-4">{{currentTotal | currency}}</span></p>
      </div>
      <div class="col s12 m12 l12">
        <div class="absolute-center m-t-1em">
          <button class="btn waves-effect green"
          ng-click="saveTransaction()">Guardar & regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
