<catalog headers="headers"
         items="suppliesToShow"
         action-icons="actionIcons"
         add-function="goToNewSupply"
         filtro="true"
         title="Listado de Insumos">
</catalog>


<div id="delete-supply-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea eliminar el insumo seleccionado?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
