<catalog headers="headers"
          items="suppliesDetails"
          action-icons="actionIcons"
          add-function="buySupplies"
          count-item="count"
          page-control="setPage(pageNumber)"
        title="Listado de Compras">
</catalog>

<div id="remove-detail-modal" class="modal">
  <div class="modal-content">
    <h5>Desea eliminar la compra seleccionada?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="selected-detail-modal" class="modal modal-fixed-footer row">
  <div class="modal-content small-padding-none">
    <h5>Detalle de compra.</h5>
    <div class="col s12 m12 l12 full-bordered small-padding-none">
      <div class="col s6 m6 l6">
        Responsable de compra: <span class="bold">{{selectedUser}}</span>
      </div>
      <div class="col s6 m6 l6 bold right-align">
        {{selectedBoughtFolio.date | date : 'yyyy-MM-dd'}}
      </div>
      <div class="col s12 m12 l12 overflow-scroll small-padding-none">
        <table class="row bordered highlight">
          <tr>
            <th class="col s3 m3 l3 center">
              <p>Nombre</p>
            </th>
            <th class="col s3 m3 l3 center">
              <p>Tipo</p>
            </th>
            <th class="col s2 m2 l2 center">
              <p>Precio</p>
            </th>
            <th class="col s2 m2 l2 center">
              <p>Cantidad</p>
            </th>
            <th class="col s2 m2 l2 center">
              <p>Total</p>
            </th>
          </tr>
          <tr ng-repeat="product in selectedBoughtFolio.products">
            <td class="col s3 m3 l3 center">
              {{product.name}}
            </td>
            <td class="col s3 m3 l3 center bold">
              {{product.description}}
            </td>
            <td class="col s2 m2 l2 center green-text accent-4">
              {{product.price | currency}}
            </td>
            <td class="col s2 m2 l2 center bold">
              {{product.quantity}}
            </td>
            <td class="col s2 m2 l2 center green-text accent-4">
              {{product.total | currency}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <p>Total: <span class="bold green-text accent-4">{{selectedBoughtFolio.total | currency}}</span></p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cerrar</button>
  </div>
</div>
