<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">{{title}}</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToUserList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>
  <div class="col s12 m12 l12 normal-header-padding">
    <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
      <div class="col s12 m12 l12">
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="username">Nombre de usuario: </label>
          <input type="text"
          name="username"
          ng-model="username">
        </div>
        <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="rol">Rol:</label>
          <select ng-model="selectedRol"
                  ng-options="rol.identifier as rol.description for rol in roles"
                  class="browser-default bold"
                  name="rol"
                  material-select>
            <option value="" disabled>Seleccionar Rol</option>
          </select>
        </div>
      </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="col s12">
        <label for="rol">Rol:</label>
        <select ng-model="selectedRol"
                ng-options="rol.identifier as rol.description for rol in roles"
                class="browser-default bold"
                name="roles"
                material-select>
          <option value="" disabled>Seleccionar Rol</option>
        </select>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1">
        <label for="user">Usuario: </label>
        <input type="text"
        name="user"
        ng-model="user">
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1 hide-on-small-only">
        <label for="password">Contraseña:</label>
        <input type="password"
        name="password"
        ng-model="password1"
        required>
      </div>
      <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
        <label for="password">Verificar Contraseña:</label>
        <input type="password"
        name="password"
        ng-model="password2"
        required>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="col s12">
        <label for="password">Contraseña:</label>
        <input type="password"
        name="password"
        ng-model="password1">
      </div>
      <div class="col s12">
        <label for="password">Verificar Contraseña:</label>
        <input type="password"
        name="password"
        ng-model="password2"
        required>
      </div>
    </div>
  </div>
    <div class="col s12 m12 l12">
      <div class="absolute-center m-t-1em">
        <button class="btn waves-effect blue"
        ng-click="SaveNewUser()">Finalizar & regresar</button>
      </div>
    </div>
  </div>
</div>
