<catalog headers="headers"
          items="items"
          action-icons="actionIcons"
          add-function="goToNewUser"
          modify="modify"
          delete="openDeleteModal"
          count-item="totalItems"
          page-control="setPage(pageNumber)"
        title="Listado de usuarios">
</catalog>


<div id="delete-user-modal" class="modal">
  <div class="modal-content">
    <h5>Desea eliminar el Usuario seleccionado?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
