<div class="row m-t-1em">
    <div class="col s12 m12 l12 normal-header">
      <span class="new-cut-header">{{title}}</span>
        <button class="btn waves-effect green right margin-0-5em"
                ng-click="returnToSupplyList()">
          <span class="material-icons v-align-center">arrow_back</span> Regresar
        </button>
    </div>
    <div class="normal-header-padding">
      <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
        <div class="col s12 m12 l12">
          <div class="col s12 m4 offset-m1 l4 offset-l1">
            <label for="name">Nombre: </label>
            <input type="text"
            name="name"
            ng-model="name">
          </div>
        </div>
        <div class="col s12 m12 l12">
          <div class="col s12 m4 offset-m1 l4 offset-l1">
            <label for="portions">Porciones: </label>
            <input type="number"
            name="portions"
            ng-model="portions">
          </div>
        </div>
        <div class="col s12 m12 l12">
            <angucomplete-alt id="supplies"
            placeholder="Buscar Insumo principal"
            pause="100"
            selected-object="selectedSupply"
            local-data="items"
            search-fields="name"
            title-field="name"
            minlength="1"
            input-class="form-control form-control-small"/>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="absolute-center m-t-1em">
          <button class="btn waves-effect blue"
          ng-click="saveSupply()">Finalizar & regresar</button>
        </div>
      </div>
  
    </div>
  </div>
  