<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">{{title}}</span>
  </div>
  <div class="col s12 m12 l12 m-t-1em normal-header-padding">
    <div class="col s12 m4 l4">
      <dir-pagination-controls ng-show="countItem > 0" 
                               on-page-change="pageControl({pageNumber:newPageNumber})"
                               pagination-id="paginador">
      </dir-pagination-controls>
      <dir-pagination-controls ng-show="!countItem"
                               pagination-id="paginador2">
      </dir-pagination-controls>
    </div>

    <div class="col s12 m4 offset-m4 l2 offset-l5"
    ng-show="filtro == 'true'">
      <label for="buscar">Buscar:</label>
      <input type="text"
             id="buscar"
             placeholder="..."
             ng-model="filter"/>
    </div>
  </div>
  <div class="col s12 m12 l12 overflow-scroll">
    <table class="bordered highlight"
           ng-if="items.length > 0">
      <thead>
          <th ng-repeat="header in headers track by $index">{{header}}</th>
      </thead>
      <tr dir-paginate="object in items | filter:filter | itemsPerPage: 5"
          total-items="countItem" ng-if="countItem > 0" pagination-id="paginador">
        <td ng-repeat="(key, item) in object"
            ng-if="key !== 'id' && key !== '_id' &&
                   key !== '__v' && key !== 'businessId' && key !== 'idSupply'
                   && key !== 'categoryId' && key !== 'printer'">{{item}}</td>
        <td class="icons"
            ng-if="modify">
          <span class="right-align">
            <i class="material-icons green-text pointer"
               ng-click="modify(object, $index)"
               data-position="bottom"
               data-delay="50"
               data-tooltip="Modificar">edit</i>
          </span>
        </td>
        <td class="icons"
            ng-if="delete">
          <span class="right-align">
            <i class="material-icons red-text pointer"
               ng-click="delete(object, $index)"
               data-position="bottom"
               data-delay="50"
               data-tooltip="Eliminar">delete</i>
          </span>
        </td>
        <td ng-repeat="actionIcon in actionIcons" class="icons">
          <span class="right-align">
            <i class="material-icons {{actionIcon.class}} pointer"
               ng-click="actionIcon.fn(object)"
               data-position="bottom"
               data-delay="50"
               data-tooltip="{{actionIcon.tooltip}}">{{actionIcon.icon}}</i>
          </span>
        </td>
      </tr>
      <tr dir-paginate="object in items | filter:filter | itemsPerPage: 5" pagination-id="paginador2" ng-if="!countItem" >
        <td ng-repeat="(key, item) in object"
            ng-if="key !== 'id' && key !== '_id' &&
                   key !== '__v' && key !== 'businessId' && key !== 'idSupply'
                   && key !== 'categoryId' && key !== 'printer'">{{item}}</td>
        <td class="icons"
            ng-if="modify">
          <span class="right-align">
            <i class="material-icons green-text pointer"
               ng-click="modify(object, $index)"
               data-position="bottom"
               data-delay="50"
               data-tooltip="Modificar">edit</i>
          </span>
        </td>
        <td class="icons"
            ng-if="delete">
          <span class="right-align">
            <i class="material-icons red-text pointer"
               ng-click="delete(object, $index)"
               data-position="bottom"
               data-delay="50"
               data-tooltip="Eliminar">delete</i>
          </span>
        </td>
        <td ng-repeat="actionIcon in actionIcons" class="icons">
          <span class="right-align">
            <i class="material-icons {{actionIcon.class}} pointer"
               ng-click="actionIcon.fn(object)"
               data-position="bottom"
               data-delay="50"
               data-tooltip="{{actionIcon.tooltip}}">{{actionIcon.icon}}</i>
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="fixed-action-btn hide-on-med-and-down z-index-0">
    <a class="btn-floating btn-large waves-effect waves-light red floating-custom"
       ng-click="addFunction()"><i class="material-icons">add</i></a>
  </div>
  <button class="btn waves-effect red hide-on-large-only m-t-1em
                 col s10 m10 offset-s1 offset-m1"
          ng-click="addFunction()">
    Agregar Nuevo
  </button>
</div>
