<div class="page-footer hide-on-small-only"
     ng-style="{'background': selectedHeaderColor}">
  <div>
    <div class="row no-margin-bottom">
      <div class="col s12 m8 l8 cursor-default">
          <a class="grey-text text-lighten-3 footer-text" href="#!">Quiénes somos</a>
          <span class="divisor"></span>
          <a class="grey-text text-lighten-3 footer-text" href="#!">Donde encontrarnos</a>
          <span class="divisor"></span>
          <a class="grey-text text-lighten-3 footer-text" href="#!">Terminos y condiciones</a>
          <span class="divisor"></span>
          <a class="grey-text text-lighten-3 footer-text" href="#!">Formas de pago</a>
          <span class="divisor"></span>
          <a href="https://www.facebook.com/BBoxSoluciones/" target="_blank">
            <img src="modules/core/client/img/icos/facebook.png"
                 alt="FB"
                 class="v-align-center icon-properties"/>
          </a>
      </div>
      <div class="m4 l4">
        <div class="grey-text container footer-text right-align">
        <p>© 2017 Derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</div>
