<topbar></topbar>
<div class="principal-image-water"
     ng-style="{'background': 'url('+selectedBackgroundImage+')'}">
</div>
<div id="main"
     class="principal-container main">
  <div ui-view></div>
</div>
<my-footer></my-footer>
<my-sidenav></my-sidenav>
