<div class="principal-image"
     ng-style="{'background': 'url('+selectedBackgroundImage+')'}">
</div>
<div class="row center">
  <div class="col s6 l3 push-l8 push-s3 login-container">
    <span class="col s12 m12 l12  left-align">
      <span>
        <i class="material-icons">person</i>
        Usuario
      </span>
      <input type="text"
             name=""
             value=""
             ng-model="user"
             ng-keyup="checkEnterKey($event)"
             class="input-default-style">
    </span>
    <div class="col s12 l12  left-align">
      <span>
        <i class="material-icons">lock</i>
        Constraseña
      </span>
      <input type="password"
             name=""
             value=""
             ng-model="password"
             class="input-default-style"
             maxlength="30"
             ng-keyup="checkEnterKey($event)">
    </div>
    <button class="btn waves-effect center"
            ng-click="loginVerify()">
            Entrar
    </button>
    <button class="btn waves-effect center"
            ng-click="openSerialModal()">
            Nuevo Código
    </button>
  </div>
</div>

<div id="new-serial-modal" class="modal">
  <div class="modal-content row">
    Número de seguridad: <span class="bold">{{secNum}}</span>
    <span class="col s10 m10 l10 offset-l1 offset-m1 m-t-1em offset-s1 center">
      Código: 
      <input ng-model="serial" 
             class="center"
             ng-init="serial = ''"> 
     </span>  
  </div>
  <div class="modal-footer">
    <button ng-click="verifySerial()" class="btn waves-effect">Verificar</button>
  </div>
</div>