<div class="row">
  <div class="col s12 m12 l12"> 
      <span class="right padding-1em">Fecha límite: <span class="font-17">{{endDay}}</span></span> 
  </div>
  
  <div class="m-t-1em">
    <div ng-repeat="item in items"
      ng-class="{'row': ($index + 1) % 2 === 0}">
      <div  class="col s6 m6 hide-on-large-only">
        <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1">
          <div class="col s12 m12 l12 center module-circle-container module-icon-container">
            <div class="module-circle-image pointer"
                 ng-click="goToState(item.url)">
              <img ng-src="{{item.img}}"
                   class="module-image-properties">
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12 center">
          <span class="bold module-description">{{item.description}}</span>
        </div>
      </div>
    </div>

    <div ng-repeat="item in items"
      ng-class="{'row': ($index + 1) % 3 === 0}">
      <div  class="col l4 hide-on-med-and-down">
        <div class="col s10 m10 l10 offset-s1 offset-m1 offset-l1">
          <div class="col s12 m12 l12 center module-circle-container module-icon-container">
            <div class="module-circle-image pointer"
                 ng-click="goToState(item.url)">
              <img ng-src="{{item.img}}"
                   class="module-image-properties">
            </div>
          </div>
        </div>
        <div class="col s12 m12 l12 center">
          <span class="bold module-description">{{item.description}}</span>
        </div>
      </div>
    </div>
  </div><br>
  <!--div class="col s12 m12 l12 m-t-1em">
  <span class="col s10 m10 l10 offset-l1 offset-m1 m-t-1em offset-s1 center">
    Código: 
    <input ng-model="serial" 
           class="center"
           ng-init="serial = ''"> 
   </span>       
  <div class="col s12 m12 l12 center"> 
    <button ng-click="verifySerial()" class="btn waves-effect">Verificar</button>
  </div>
  
    
  </div-->
</div>
