<div class="row m-t-1em">

  <div class="col m12 l12 form-header">
    <h5 class="col m6 l6">Registrar empresa & Usuario principal</h5>
  </div>
  <h5 class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em">*Empresa:</h5>
  <div class="col s12 m10 l10 offset-m1 offset-l1 default-form-container">
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1">
        <label for="businessName">*Nombre de empresa: </label>
        <input type="text"
               name="businessName"
               ng-model="businessName"
               required>
      </div>
      <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="email">Correo:</label>
          <input type="email"
                 name="email"
                 ng-model="email"/>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="col s12">
        <label for="email">Correo:</label>
        <input type="email"
               name="email"
               ng-model="email"/>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1">
        <label for="address">*Dirección: </label>
        <input type="text"
               name="address"
               ng-model="address"
               required>
      </div>
      <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="phone">*Telefono: </label>
          <input numbers-only
                 string="phone"
                 max-number="9999999999"
                 type="text"
                 name="phone"
                 ng-model="phone"
                 required>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="col s12">
          <label for="phone">*Telefono: </label>
          <input numbers-only
                 string="phone"
                 max-number="9999999999"
                 type="text"
                 name="phone"
                 ng-model="phone"
                 required>
      </div>
    </div>
  </div>

  <h5 class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em">*Usuario:</h5>
  <div class="col s12 m10 l10 offset-m1 offset-l1 default-form-container">
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1">
        <label for="username">*Nombre de usuario: </label>
        <input type="text"
               name="username"
               ng-model="username"
               required>
      </div>
      <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="rol">Rol:</label>
        <select class="browser-default bold"
                name="rol"
                material-select>
        <option value="a" selected>Administrador</option>
        </select>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="col s12">
        <label for="rol">Rol:</label>
        <select class="browser-default bold"
                name="rol"
                material-select>
        <option value="a" selected>Administrador</option>
        </select>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1">
        <label for="user">*Usuario: </label>
        <input type="text"
               name="user"
               ng-model="user"
               required>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="password">*Contraseña:</label>
          <input type="password"
                 name="password"
                 ng-model="password1"
                 required>
      </div>
      <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="password">*Verificar Contraseña:</label>
          <input type="password"
                 name="password"
                 ng-model="password2"
                 required>
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <div class="col s12">
          <label for="password">*Verificar Contraseña:</label>
          <input type="password"
                 name="password"
                 ng-model="password2"
                 required>
      </div>
    </div>
  </div>
  <div class="col s12 m12 l12">
    <div class="absolute-center m-t-1em">
      <button class="btn waves-effect blue"
              ng-click="saveTransaction()">Finalizar e Iniciar</button>
    </div>
  </div>
</div>
