<div id="my-sidenav"
     ng-controller="sidenadCtrl"
     class="container disabled row prevent-overflow-x">
  <img src="modules/core/client/img/topbar.png"
       class="black-box-img pointer"
       ng-click="goToState('','home')"/>

  <ul class="no-margin row">
    <li class="list-item-properties"
        ng-repeat="item in items">
      <p class="list-text-properties"
        ng-click="goToState(item)">
        <i class="material-icons v-align-center">{{item.icon}}</i> {{item.description}}
      </p>
    </li>
  </ul>
</div>
