<div id="topbar" ng-controller="headerController">
 <nav id="main" class=" nav-container main default-box-shadow"
      ng-style="{'background': selectedHeaderColor}">
    <div id="topbar" class="nav-wrapper nav-properties topbar-initial-position">
      <ul class="left nav-container">
        <li>
          <i class="material-icons nav-container">
            <span class="pointer togglemenu"
                  ng-click="toggleSidenav()">menu</span>
          </i>
        </li>
      </ul>
      <ul class="right dropdown-button" data-activates="userMenu">
        <a class="">          
          <li class="relative">
            Bienvenido {{username}}
            <span class="topbar-icon-dropdown">
              <i class="material-icons nav-icon nav-height">keyboard_arrow_down</i>
            </span>
          </li>
        </a>
      </ul>
      <ul class="center hide-on-small-only"> 
          <span class="bold">Hoy es: </span> {{CurrentDay}} {{dayNumber}} de {{currentMonth}} del {{year}} 
          <span class="bold">y son las:</span>   <span id="txt"></span>
      </ul>      
    </div>
  </nav>

  <ul id="userMenu" class="dropdown-content">
    <!--<li class="">
      <a ui-sref="change-password"
         class="dropdown-item-properties">
        <span class="material-icons v-align-center">https</span>
        Cambiar contraseña
      </a>
    </li>-->
    <li>
      <a ng-click="closeSession()"
         class="dropdown-item-properties">
        <span class="material-icons v-align-center">input</span>
        Cerrar Sesión
      </a>
    </li>
  </ul>
</div>
