<div class="row config-container">
  <div class="col s12 m12 l12">
    <span>Color de cabecera / Pie de página:</span>
    <select ng-model="selectedColor"
            ng-options="color.color as color.name for color in colors"
            class="browser-default bold"
            name="color"
            ng-change="updateColor()"
            material-select>
      <option value="" disabled>Seleccione uno</option>
    </select>
  </div>

  <div class="col s12 m12 l12">
    <span>Seleccionar imagen de fondo:</span>
    <select ng-model="selectedImage"
            ng-options="image.img as image.name for image in images"
            class="browser-default bold"
            name="color"
            ng-change="updateImage()"
            material-select>
      <option value="" disabled>Seleccione uno</option>
    </select>
  </div>

  <div class="col s12 m12 l12">
    <span>Seleccionar Tipo de menú de venta:</span>
    <select ng-model="selectedStyle"
            ng-options="stly.value as stly.name for stly in sellStyle"
            class="browser-default bold"
            name="color"
            ng-change="updateStyle()"
            material-select>
      <option value="" disabled>Seleccione uno</option>
    </select>
  </div>

  <div class="col s12 m12 l12">
    <span>Imprimir orden:</span>
    <select ng-model="selectedPrint"
            ng-options="print.value as print.name for print in printTicket"
            class="browser-default bold"
            name="color"
            ng-change="updatePrint()"
            material-select>
      <option value="" disabled>Seleccione uno</option>
    </select>
  </div>

  <!-- <div class="col s12 m12 l12">
    <span>Mostrar pedidos activos:</span>
    <select ng-model="selectedOrders"
            ng-options="show.value as show.name for show in showOrders"
            class="browser-default bold"
            name="color"
            ng-change="updateOrders()"
            material-select>
      <option value="" disabled>Seleccione uno</option>
    </select>
  </div> -->

  <div class="col s12 m12 l12 m-t-1em">
    <button class="btn waves-effect green"
            ng-click="updateConfig()">Guardar</button>
  </div>
</div>
