<catalog headers="headers"
          items="categories"
          add-function="addNewCategory"
          modify="modifyCategory"
          delete="openDeleteModal"
        title="Listado de Categorías">
</catalog>


<div id="delete-category-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea eliminar la categoría seleccionada?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
