<div class="row m-t-1em">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">Editar categoría</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>

  <div class="normal-header-padding">
    <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
      <div class="col s12 m12 l12">
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="name">Nombre de categoría: </label>
          <input type="text"
          name="name"
          ng-model="category">
        </div>
        <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <p class="no-margin grey-text">Imágen:</p>
          <button class="btn waves-effect blue"
                  ng-click="openImageModal()">Seleccionar</button>
            <span class="bold grey-text">{{selectedImage.name}}</span>
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="name">Seleccionar impresora: </label>
          <select ng-model="printerId"
                  ng-options="printer.name as printer.name for printer in printers"
                  class="browser-default bold"
                  name="printer"
                  material-select>
            <option value="" disabled>Seleccionar impresora</option>
          </select>
        </div>
      </div>
      <div class="col s12 hide-on-med-and-up">
        <div class="col s12">
          <span class="grey-text">Imágen:</span>
          <button class="btn waves-effect blue"
                  ng-click="openImageModal()">Seleccionar</button>
            <span class="bold grey-text">{{selectedImage.name}}</span>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="absolute-center m-t-1em">
        <button class="btn waves-effect blue"
        ng-click="saveCategory()">Finalizar & regresar</button>
      </div>
    </div>
  </div>
</div>

<div id="image-select-modal" class="modal row modal-fixed-footer">
  <div class="modal-content">
    <h5>seleccionar Imágen</h5>
    <hr>
    <div class="col s4 m4 l4 center"
         ng-repeat="image in images">
      <img ng-src="{{image.url}}" class="category-item-image pointer"
           ng-click="selectImage(image)">
      <p class="category-item-text">{{image.name}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
