<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">{{title}}</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>
  <div class="col s12 m12 l12 normal-header-padding">
    <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
      <div class="col s12 m12 l12">
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="username">Nombre de impresora: </label>
          <input type="text"
          name="printerName"
          ng-model="printerName">
        </div>
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="absolute-center m-t-1em">
        <button class="btn waves-effect blue"
        ng-click="saveCategory()">Finalizar & regresar</button>
      </div>
    </div>
  </div>
</div>
