<catalog headers="headers"
          items="printers"
          add-function="addNewPrinter"
          modify="modifyPrinter"
          delete="openDeleteModal"
        title="Listado de Impresoras">
</catalog>


<div id="delete-printer-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea eliminar la impresora seleccionada?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
