<catalog headers="headers"
          items="itemsToShow"
          action-icons="actionIcons"
          add-function="addNewProduct"
          modify="modifyProduct"
          delete="openDeleteModal"
          filtro="true"
        title="Listado de Productos">
</catalog>


<div id="delete-product-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea eliminar el producto seleccionado?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
