<div class="row m-t-1em">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">{{title}}</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>

  <div class="normal-header-padding">
    <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
      <div class="col s12 m12 l12">
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="name">Nombre: </label>
          <input type="text"
          name="name"
          ng-model="name">
        </div>
        <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="price">Precio:</label>
          <input numbers-only
          max-number="999"
          type="text"
          name="price"
          string="price"
          ng-model="price">
        </div>
      </div>
      <div class="col s12 hide-on-med-and-up">
        <div class="col s12">
          <label for="type">Precio:</label>
          <input numbers-only
          max-number="3000"
          type="text"
          name="price"
          string="price"
          ng-model="price">
        </div>
      </div>
      <div class="col s12 m12 l12">
        <div class="col s12 m-b-1em">
          <label for="category">Categoría:</label>
          <select ng-model="categoryId"
                  ng-options="category._id as category.category for category in categories"
                  class="browser-default bold"
                  name="category"
                  material-select>
            <option value="" disabled>Seleccionar categoría</option>
          </select>
        </div>
      </div>
      <div class="col s12 m12 l12 absolute-v-center">
        <div class="col s12 m4 l4 m-b-1em">
            <label for="Insumo">Insumo:</label>
          <select ng-model="supplyToAdd"
                  ng-options="supply as supply.name for supply in supplies"
                  class="browser-default bold"
                  name="Insumo"
                  material-select>
            <option value="" disabled>Seleccionar Insumo</option>
          </select>
        </div>
        <div class="col s12 m2 l2">
            <label for="porciones">Porciones:</label>
          <input type="number"
                 name="porciones"
                 ng-model="supplyQuantity"
                 ng-init="supplyQuantity = 0">
        </div>
        <div class="col s12 m4 l4">
          <div>
            <button class="btn waves-effect blue" ng-click="addSuply()">Agregar</button>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6 m-b-1em default-form-container" ng-show="selectedSupplies.length > 0">
        <div class="padding-none">
          <span class="col s4 m4 l4 bold">Nombre</span>
          <span class="col s4 m4 l4 bold center">Porciones</span>
          <span class="col s4 m4 l4 bold left-align">Eliminar</span>
        </div>
        <hr>
        <div ng-repeat="supply in selectedSupplies">
          <span class="col s4 m4 l4">{{supply.name}}</span>
          <span class="col s4 m4 l4 center">{{supply.quantity}}</span>
          <span class="col s4 m4 l4 left-align">
              <i class="material-icons red-text pointer"
                  ng-click="delete(supply)"
                  data-position="bottom"
                  data-delay="50"
                  data-tooltip="Eliminar">delete</i>
            </span>
        </div>        
      </div>
    </div>
    <div class="col s12 m12 l12">
      <div class="absolute-center m-t-1em">
        <button class="btn waves-effect blue"
        ng-click="saveTransaction()">Finalizar & regresar</button>
      </div>
    </div>
  </div>
</div>
