<div class="row">
  <div class="col s12 m12 l12 normal-header">
    <span class="new-cut-header">{{title}}</span>
      <button class="btn waves-effect green right margin-0-5em"
              ng-click="returnToRosterList()">
        <span class="material-icons v-align-center">arrow_back</span> Regresar
      </button>
  </div>
  <div class="normal-header-padding">
    <div class="col s12 m10 l10 offset-m1 offset-l1 m-t-3em default-form-container">
      <div class="col s12 hide-on-med-and-up">
        <div class="col s12">
          <label for="user">Usuario:</label>
          <input type="text"
          ng-model="selectedUser.name"
          disabled/>
        </div>
      </div>

      <div class="col s12 m12 l12">

        <div class="col m4 offset-m1 l4 offset-l1 hide-on-small-only">
          <label for="user">Usuario:</label>
          <input type="text"
          ng-model="selectedUser.name"
          disabled/>
        </div>
      </div>

      <div class="col s12 m12 l12">
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="payPerDay">Pago por Día: </label>
          <input numbers-only
          max-number="3000"
          type="text"
          name="payPerDay"
          string="payPerDay"
          ng-model="payPerDay">
        </div>
        <div class="col s12 m4 offset-m1 l4 offset-l1">
          <label for="extraHour">Pago por Hora extra: </label>
          <input numbers-only
          max-number="3000"
          type="text"
          name="extraHour"
          string="extraHour"
          ng-model="extraHour">
        </div>
      </div>

    </div>
    <div class="col s12 m12 l12">
      <div class="absolute-center m-t-1em">
        <button class="btn waves-effect blue"
        ng-click="createNewRoster()">Finalizar & regresar</button>
      </div>
    </div>
  </div>
</div>
