<catalog headers="headers"
          items="nominaToShow"
          action-icons="actionIcons"
          add-function="goToNewRoster"
          modify="modify"
          delete="openDeleteModal"
        title="Listado de Nóminas">
</catalog>


<div id="delete-roster-modal" class="modal">
  <div class="modal-content">
    <h5>¿Desea eliminar la nómina del empleado seleccionado?</h5>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em"
            ng-click="delete()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="pay-roster-modal" class="modal modal-fixed-footer row">
  <div class="modal-content">
    <h5>¿Desea realizar el pago al empleado seleccionado?</h5>
    <p>
      de:
      <span class="bold">{{ToSendRoster.initialDate}}</span> al
      <span class="bold">{{currentDay}}</span>
    </p>
    <div class="col s12 m12 l12 m-t-1em">
      <div class="col s6 m6 l6">
        <div class="col s12 m12 l12 center">
          Dias trabajados:
        </div>
        <div class="col s12 m12 l12 center bold">
          {{ToSendRoster.daysWorked}}
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="col s12 m12 l12 center">
          Pago por día:
        </div>
        <div class="col s12 m12 l12 center bold">
          {{ToSendRoster.payPerDay}}
        </div>
      </div>
    </div>

    <div class="col s12 m12 l12 m-t-1em">
      <div class="col s6 m6 l6">
        <div class="col s12 m12 l12 center">
          Horas extras trabajadas:
        </div>
        <div class="col s12 m12 l12 center bold">
          {{ToSendRoster.extraTime}}
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="col s12 m12 l12 center">
          Pago hora extra:
        </div>
        <div class="col s12 m12 l12 center bold">
          {{ToSendRoster.payPerExtraHour}}
        </div>
      </div>
    </div>
    <hr>
    <p class="m-l-1em">Total: <span class="bold">{{ToSendRoster.total}}</span></p>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em modal-close"
            ng-click="saveCurrentRoster()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="modify-roster-modal" class="modal modal-fixed-footer row">
  <div class="modal-content">
    <h5>Modificación de nómina.</h5>
    <p>
      de:
      <span class="bold">{{ToSendRoster.initialDate}}</span> al
      <span class="bold">{{currentDay}}</span>
    </p>
    <!-- <div class="col s12 m12 l12 m-t-1em"> -->
    <table class="bordered m-t-1em col s6 m6 l6 padding-none">
      <tr>
        <td class="padding-none">
              Dias trabajados:
        </td>
        <td class="padding-none">
          <input type="text"
                 name=""
                 ng-model="ToSendRoster.daysWorked"
                 class="col s6 input-normal-margin"
                 disabled>
        </td>
      </tr>
      <tr>
        <td class="padding-none">
          Agregar falta(s):
        </td>
        <td class="padding-none">
          <input numbers-only
                 max-number="30"
                 type="number"
                 name=""
                 class="col s6 input-normal-margin"
                 string="addAbsenceDays"
                 ng-model="addAbsenceDays">
        </td>
      </tr>
      <tr>
        <td class="padding-none">
          Quitar falta(s):
        </td>
        <td class="padding-none">
          <input numbers-only
                  max-number="30"
                  type="number"
                  name=""
                  class="col s6 input-normal-margin"
                  string="removeAbsenceDays"
                  ng-model="removeAbsenceDays">
        </td>
      </tr>
    </table>
    <table class="bordered m-t-1em col s6 m6 l6 padding-none">
      <tr>
        <td class="padding-none">
              Horas extras:
        </td>
        <td class="padding-none">
          <input type="text"
                 name=""
                 class="col s6 input-normal-margin"
                 ng-model="ToSendRoster.extraTime"
                 disabled>
        </td>
      </tr>
      <tr>
        <td class="padding-none">
          agregar horas:
        </td>
        <td class="padding-none">
          <input numbers-only
                 max-number="500"
                 type="number"
                 name=""
                 class="col s6 input-normal-margin"
                 string="addExtraTime"
                 ng-model="addExtraTime">
        </td>
      </tr>
      <tr>
        <td class="padding-none">
          quitar horas:
        </td>
        <td class="padding-none">
          <input numbers-only
                 max-number="500"
                 type="number"
                 name=""
                 class="col s6 input-normal-margin"
                 string="removeExtraTime"
                 ng-model="removeExtraTime">
        </td>
      </tr>
    </table>
    <hr>
    <div class="col s6 m6 l6">
      <div class="col s12 m12 l12">
        Total Dias trabajados:
      </div>
      <div class="col s12 m12 l12">
        <span class="bold">
          {{ToSendRoster.daysWorked - addAbsenceDays + removeAbsenceDays}}
        </span>
      </div>
      <div class="col s12 m12 l12">
        Total Dias faltados:
      </div>
      <div class="col s12 m12 l12">
        <span class="bold">
          {{ToSendRoster.actualAbsenceDays + addAbsenceDays - removeAbsenceDays}}
        </span>
      </div>
    </div>
    <div class="col s6 m6 l6">
      <div class="col s12 m12 l12">
        Total Horas Extras:
      </div>
      <div class="col s12 m12 l12">
        <span class="bold">
          {{ToSendRoster.extraTime + addExtraTime - removeExtraTime}}
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect blue m-l-1em"
            ng-click="modifyCurrentRoster()">Aceptar</button>
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>

<div id="show-user-rosters" class="modal full-modal-size modal-fixed-footer row">
  <div class="modal-content">
    <h5>Listado de nóminas pasadas</h5>
    <div class="col s12 m12 l12">
      <dir-pagination-controls pagination-id="'rosters'">
      </dir-pagination-controls>
      <div class="col s4 m4 l4" dir-paginate="roster in rosters | itemsPerPage: 6" pagination-id="'rosters'">
        <div class="col s12 m12 l12 card">
          <p><span class="bold">Nombre: </span>{{roster.username}}</p>
          <p><span class="bold">Fecha inicio: </span>{{roster.initialDate | date:'yyyy-MM-dd'}}</p>
          <p><span class="bold">Fecha Fin: </span>{{roster.endDate | date:'yyyy-MM-dd'}}</p>
          <p><span class="bold">Días trabajados: </span>{{roster.workedDays}}</p>
          <p><span class="bold">Días faltados: </span>{{roster.absenceDays}}</p>
          <p><span class="bold">Tiempo Extra trabajado: </span>{{roster.extraTime}}</p>
          <p><span class="bold">Total pagado: </span>{{roster.total | currency}}</p>
        </div>
      </div>
      <dir-pagination-controls ng-show="items.length > 0">
      </dir-pagination-controls>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect red modal-close">Cancelar</button>
  </div>
</div>
