<div class="row">
    <div class="col s12 m12 l12 normal-header">
        <span class="new-cut-header">FALTANTES</span>
      </div>
    <div class="col s12 m12 l12 absolute-v-center normal-header-padding">
        <div class="col s5 m4 l2 no-margin">
        <label for="Year">Año:</label>
          <select ng-model="selectedYear"
                  class="browser-default bold"
                  name="Year"
                  material-select>
            <option value="" disabled>Seleccionar Año</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
          </select>
        </div>
        <div class="col s5 m4 l2">
            <label for="Month">Mes:</label>
            <select ng-model="selectedMonth"
                    class="browser-default bold"
                    name="Month"
                    material-select>
            <option value="" disabled>Seleccionar Año</option>
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
        </select>
        </div>
      <div class="col m4 l4 hide-on-small-only">
        <button class="btn waves-effect blue"
                ng-click="generate()">Generar</button>
      </div>
    </div>
  

    <div class="col s12 hide-on-med-and-up absolute-v-center absolute-center m-b-1em">
      <button class="btn waves-effect blue"
              ng-click="generate()">Generar</button>
    </div>
    <div class="col s12 m12 l12 overflow-scroll">
        <table id="xml" class="bordered striped">
            <thead>
              <th>
                Producto
              </th>
              <th ng-repeat="date in dates">{{date}}</th>
            </thead>
            <tr ng-repeat="item in itemsToGenerateReport">
              <td class="center bordered">
                  {{item.name}}
                </td>
            <td ng-repeat="value in item.supplies track by $index" class="center bordered">
              {{value | number: 2}}
            </td>
          </tr>
        </table>
    </div>
    
  </div>
  
  <button class="btn btn-link" ng-click="exportToExcel('#xml')">
      <span class="glyphicon glyphicon-share"></span> Exportar a Excel
    </button>