html {
  font-family: arial;
  font-size: 13px;
  height: 100%;
  margin:auto;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  min-height: calc(100% + 1px);
  position: relative;
}

input, .comment-box {
  background: white !important;
  border: 1px solid black !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  padding: 0 5px !important;
}

table {
  background: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(MaterialIcons-Regular.woff2) format('woff2'),
        url(MaterialIcons-Regular.woff) format('woff'),
        url(MaterialIcons-Regular.ttf) format('truetype');
}

.absolute-center {
  display: flex;
  justify-content: center;
}

.absolute-v-center {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.default-box-shadow {
  box-shadow: 0 0 5px 0 black;
}

.content {
  margin-top: 50px;
}

.cursor-default {
  cursor: default;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.default-form-container {
  border: 1px solid #d0d0d0;
  padding: 2em !important;
  background: white;
}

.display-inherit {
  display: inherit !important;
}

.dropdown-item-properties {
  width: 200px;
  z-index: 1000;
}

.error-text {
  display: none;
}

.font-17 {
  font-size: 17px;
}

.font-18 {
  font-size: 18px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-28 {
  font-size: 28px !important;
}

.flex {
  display: flex;
}

.floating-custom {
  bottom: 50px;
}

.floating-line {
  position: absolute;
  left: 50%;
  height: 100%;
  background-color: black;
  width: 1px;
  color: white;
}

.form-header, .normal-border {
  border-bottom: 1px solid gray;
}

.full-bordered {
  border: 1px solid gray !important;
}

.full-modal-size {
  top: 0 !important;
  min-width: 100%;
  min-height: 100%;
}

.grid {
  display: grid;
}

.has-error .help-block.error-text {
  display: block;
}

.has-error .help-inline.error-text {
  display: inline;
}

.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}

.icon-properties {
  width: 25px;
}

.input-default-style {
  border: 1px solid teal !important;
  height: 25px !important;
  padding-left: 5px !important;
}

.input-normal-margin {
  margin: 5px !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-1em {
  margin-bottom: 1em !important;
}

.m-l-1em {
  margin-left: 1em !important;
}

.money-format {
  color: #4180c0;
  font-size: 20px;
}

.margin-0-5em {
  margin: 0.5em;
}

.margin-top-44 {
  margin-top: 44px;
}

.m-t-1em {
  margin-top: 1em !important;
}

.m-t-3em {
  margin-top: 3em !important;
}

.m-t-5px {
  margin-top: 5px !important;
}

.m-r-2em {
  margin-right: 2em !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.normal-header {
  background: #fff;
  border-bottom: 1px solid gray;
  box-shadow: 0 0 3px 0 grey;
  position: fixed;
  top: 44px;
  z-index: 99;
}

.normal-header-padding {
  padding-top: 66px !important;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

.overflow-scroll {
  overflow-x: auto;
}

.padding-lateral-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


.padding-0_4em {
  padding-left: 0.4em !important;
}

.padding-1em {
  padding: 1em !important;
}

.padding-none {
  padding: 0 !important;
}

.principal-container {
  padding-bottom: 70px;
}

.principal-image {
  background: url('/modules/core/client/img/background.jpg');
  background-size: contain;
  /*background: rgba(0,0,0,0.4);*/
  height: 100%;
  /*opacity: 0.6;*/
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.principal-image-water {
  background: url('/modules/core/client/img/background.jpg');
  background-size: contain;
  /*background: rgba(0,0,0,0.4);*/
  height: 100%;
  /*opacity: 0.6;*/
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
}

.pointer {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.prevent-overflow-x {
  overflow-x: auto !important;
  overflow-y: inherit;
}

.relative {
  position: relative !important;
}

.table {
  display: table;
}

.table-cell {
  display: tabe-cell;
  vertical-align: middle;
}

.underline {
  text-decoration: underline;
}

.undecorated-link:hover {
  text-decoration: none;
}

.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.v-align-center {
  vertical-align: middle !important;
}

.white-background {
  background: white;
}

.x-margin-1em {
  margin-bottom: 1em !important;
  margin-top: 1em !important;
}

.z-index-0 {
  z-index: 0 !important;
}

.modal {
  z-index: 1000 !important;
}

.modal-overlay {
  z-index: 999 !important;
}
@media screen and (max-width: 600px) {
  .normal-header {
    background: #fff;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 3px 0 grey;
    position: inherit;
    z-index: 1;
  }

  .normal-header-padding {
    padding-top: 0 !important;
  }

  .default-form-container {
    border: 0;
    padding: 0 !important;
  }

  .modal {
    top: 0 !important;
    min-width: 100%;
    min-height: 100%;
  }

  .modal-footer {
    bottom: 0;
    position: absolute;
  }

  .small-padding-none {
    padding: 0 !important;
  }
}
