my-footer .divisor {
  background: #8a8a8a;
  cursor: default;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 2px;
}

my-footer .footer-text {
  font-size: 11px;
}
my-footer .page-footer {
  background-color: #183265;
  bottom: 0;
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 99;
}

my-footer ul > li {
  list-style-type: none !important;
}

my-footer ul > li > a {
  color: #fff;
}

my-footer ul > li > a:hover {
  color: #c3c3c3;
}
