.module-card-background {
  background-color: #eeeeee;
}

.module-description {
  color: #3399ff;
  font-size: 1.2em;
}

.module-circle-container {
  display: flex;
  justify-content: center;
}

.module-circle-image {
  background: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  background: white;
  border: 1px solid gray;
}

.module-image-properties {
  overflow: hidden;
}
