my-sidenav .black-box-img {
  width: 250px;
}

my-sidenav .container {
  background: #454545;
  box-shadow: 0 0 1px 0 black;
  color: white;
  height: calc(100vh);
  padding-bottom: 5em !important;
  position: fixed;
  top: 45px;
  transition: .25s;
  width: 250px !important;
  z-index: 999;
}

my-sidenav .disabled {
  left: -250px;
}

my-sidenav .enabled {
  left: 0;
}

my-sidenav .list-item-properties:hover {
  background: white;
  color: #454545;
}

my-sidenav .list-text-properties {
  cursor: pointer;
  margin: 0 0 0 1em !important;
  padding: 1em 0;
}

@media screen and (max-width: 600px) {
  my-sidenav .black-box-img {
    opacity: 0.8;
    width: 100%;
  }

  my-sidenav .container {
    width: 100% !important;
    padding-bottom: 10em !important;
  }

  my-sidenav .disabled {
    left: -100%;
  }
}
