topbar nav {
	background-color: #183265;
	box-shadow: none;
	padding-bottom: 45px;
}

topbar .nav-container {
  height: 45px !important;
  line-height: 45px !important;
}

topbar .nav-icon {
	height: 45px !important;
	line-height: 45px !important;
}

topbar .nav-properties {
  margin: 0 2em;
}

topbar .topbar-fixed-position {
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}

topbar .topbar-icon-dropdown {
  bottom: 0;
  position: absolute;
  right: -25px !important;
}

topbar .topbar-initial-position {
	background-color: initial;
	z-index: 999;
}
